<div ng-controller="clearSceneUpdateCtrl">
	<div>
		<form name="cSceneUpdateForm"  class="layui-form">
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'F00077' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="updateOperationMode" class="layui-input" jf-select="operationModeArr" name="operationModeN" disabled></select>
				</div>
			</div>
			<!-- <div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>渠道ID：</div>
				<div class="wd330 float_left">
					<select ng-model="updateChannelId" class="layui-input" jf-select="channelIdArr" name="channelIdN" disabled></select>
				</div>
			</div> -->
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'QFH200001' | translate}}：</div>
				<div class="wd330 float_left">
					<select class="layui-input" ng-model="cSceneUpdate.clearingTransactionCode" jf-select="builder.option(clearCodeArr)"name="clearingTransactionCodeN" disabled></select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'QFH200005' | translate}}：</div>
				<div class="wd330 float_left">
					<select class="layui-input" ng-model="cSceneUpdate.origClearingTxnCode" jf-select="builder.option(clearCodeArr)"name="originalClearingTransactionCodeN" disabled></select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'QFH200006' | translate}}：</div>
				<div class="wd280 float_left" style="margin-right:35px;">
					<input class="layui-input" ng-model="cSceneUpdate.triggerNo" autocomplete="off" name="triggerNoN" type="text" validator="required" readonly>
				</div>
				<div class="search_button">
					<button class="layui-btn" ng-click="updateEventNo(cSceneUpdate.triggerNo)" >
						<i class="layui-icon">&#xe615;</i>{{'F00009' | translate}}
					</button>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'QFH200007' | translate}}：</div>
				<div class="wd330 float_left">
					<input class="layui-input" ng-model="cSceneUpdate.sceneDesc" autocomplete="off" name="sceneDescN" type="text" validator="required">
				</div>
			</div>
		</form>
	</div>
</div>
