<!-- 统一日期修改 -->
<div ng-controller="dateModificationListCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{userName}}
	</div>
	<div class="allcontent layui-form">
		<!-- 证件类型+证件号码+外部识别号查询 -->
		<form action="" name="cstBsnisItemForm">
			<div class="col_td">
				<div class="col4 text_right"> {{'F00158' | translate}} ： </div>
				<div class="wd190 float_left">
					<select ng-model="cstBsnisForm.idType" lay-filter="getIdType"
						jf-select="certificateTypeArray" name="idType" >
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'F00112' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" id="cstBsnisItem_idNumber"   validator="noValidator"
						ng-model="cstBsnisForm.idNumber" name="idNumber" type="text">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'F00111' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input"
						ng-model="cstBsnisForm.externalIdentificationNo"
						name="externalIdentificationNo" type="text">
				</div>
			</div>
			<div class="col_tr text_center">
				<button class="layui-btn" validation-submit="cstBsnisItemForm"  ng-click="searchCstBsnisItem()">
					<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
				</button>
				<button class="layui-btn cancel-btn" type="button"
					ng-click="reset()">
					<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
				</button>
			</div>
		</form>
		<!--1.客户基本信息 -->
		<div class="clearboth"></div>
		<div ng-show="showItemList">
			<div class="mainname" >1. {{'KHH2200004' | translate}}</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">{{'F00158' | translate}}：</label>
					<div class="layui-input-inline">
						<select jf-select="certificateTypeArray" name="idType" ng-model="custInf.idType" disabled >
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">{{'F00112' | translate}}：</label>
					<div class="layui-input-inline">
						<input class="layui-input" type="text"
							ng-model="custInf.idNumber"  disabled>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">{{'KHH2200003' | translate}}：</label>
					<div class="layui-input-inline">
						<input class="layui-input" type="text"
							ng-model="custInf.customerName"  disabled>
					</div>
				</div>
			</div>
			<!-- 2.客户业务项目 -->
			<div class="clearboth"></div>
			<div class="mainname">2.{{'KHH4800003' | translate}}</div>
			<div jf-grid="itemList">
				<table>
					<thead>
						<tr>
							<th>{{'KHH4800023' | translate}}</th>
							<th>{{'KHH4800026' | translate}}</th>
							<th>{{'KHH4800007' | translate}}</th>
							<th>{{'KHH4800008' | translate}}</th>
							<th>{{'KHH4800009' | translate}}</th>
							<th>{{'KHH4800010' | translate}}</th>
							<th>{{'KHH4800011' | translate}}</th>
							<th>{{'KHH4800012' | translate}}</th>
							<th>{{'KHH4800013' | translate}}</th>
							<th width="12%">{{'F00017' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style=" width: 20%;" align="center">
								<span>{{item.businessProgramNo}}</span><span>{{item.programDesc}}</span>
							</td>
							<td align="center" ng-bind="item.cycleModelDesc"></td>
							<td align="center" ng-bind="item.billDay"></td>
							<td align="center" ng-bind="item.nextBillDate"></td>
							<td align="center" ng-bind="item.currentCycleNumber"></td>
							<td align="center" ng-bind="item.directDebitStatusDesc"></td>
							<td align="center" ng-bind="item.directDebitModeDesc"></td>
							<td align="center" ng-bind="item.directDebitBankNo"></td>
							<td align="center" ng-bind="item.directDebitAccountNo"></td>
							<td align="center">
								<button class="layui-btn layui-btn-primary"
									ng-click="unifiedRevision(item)">
									<i class="layui-icon">&#xe60b;</i> {{'KHH2200001' | translate}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 3.统一日期修改 -->
			<div ng-if="modifyInfo.cycleNumber=='0'">
				<div class="mainname">3.{{'KHH2200001' | translate}}</div>
				<div style="text-align: center;line-height: 38px;">暂无数据</div>
			</div>
			<div ng-if="showModifyDiv">
				<form class="layui-form" name="">
					<div class="mainname">3.{{'KHH2200001' | translate}}</div>
						<div class="layui-form">
							<div class="col_td">
								<div class="col4 text_right">{{'KHH4800023' | translate}}：</div>
							<div class="wd190 float_left">
								<input class="layui-input" type="text" validator="required"
									name="businessProgramNo" maxlength="12" readonly
									ng-model="modifyInfo.businessProgramNo">
							</div>
						</div>
						<div class="col_td">
							<div class="col4 text_right">{{'KHH4800024' | translate}}：</div>
							<div class="wd190 float_left">
								<input class="layui-input" type="text" validator="required"
									name="cycleNumber" maxlength="9"
									ng-model="modifyInfo.cycleNumber" readonly />
							</div>
						</div>
						<div class="col_td">
							<div class="col4 text_right">{{'KHH4800019' | translate}}：</div>
							<div class="wd190 float_left">
								<input class="layui-input" type="text" validator="required"
									name="statementDate" ng-model="modifyInfo.statementDate" readonly />
							</div>
						</div>
						<div class="col_td" >
							<div class="col4 text_right">{{'KHH4800020' | translate}}：</div>
							<div class="wd190 float_left">
								  <input class="layui-input icon_date" ng-model="modifyInfo.paymentDueDate" id="lay_paymentDueDate" jf-date-input name="paymentDueDate" type="text" >
							</div>
						</div> 
						<div class="col_td">
							<div class="col4 text_right">{{'KHH4800021' | translate}}：</div>
							<div class="wd190 float_left">
								<input class="layui-input" type="text" validator="required"
								name="graceDate" ng-model="modifyInfo.graceDate" readonly />
							</div>
						</div>
						<div class="col_td">
							<div class="col4 text_right">{{'KHH4800022' | translate}}：</div>
							<div class="wd190 float_left">
								<input class="layui-input" type="text" validator="required"
								name="delinquencyDate" ng-model="modifyInfo.delinquencyDate" readonly />
							</div>
						</div>
						<div class="col_td">
							<div class="col4 text_right">{{'KHH4800025' | translate}}：</div>
							<div class="wd190 float_left">
								<input class="layui-input" type="text" validator="required"
								name="directDebitDate" ng-model="modifyInfo.directDebitDate" readonly />
							</div>
						</div>
					</div>
					<div class="col_tr text_center">
						<button class="layui-btn layui-btn-radius"  ng-click="confirmRevision()"
							type="button">
							<i class="layui-icon">&#xe624;</i> {{'KHH2200002' | translate}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
