<div class="layout_body" ng-controller="batchAbnormalMagCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent layui-form">
	<form action="" name="batchQueryForm">
		<div class="layui-form-item">
			<div class="col_td">
				<div class="col4 text_right"> {{'F00158' | translate}} ： </div>
				<div class="wd190 float_left">
					<select ng-model="csInfParams.idType" 
						jf-select="certificateTypeArray1" name="idType" lay-filter="getIdType">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'F00112' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" ng-model="csInfParams.idNumber" id="batchQuery_idNumber"   validator="noValidator" 
						name="idNumber" type="text">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YWH5500057' | translate}} ： </div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="ecommCustId" ng-model="csInfParams.ecommCustId" validator="required">
				</div>
			</div>
			<div class="layui-inline" style="width:100%;text-align: center; margin-bottom: 10px;">
				<div class="search_button">
					<button class="layui-btn" validation-submit="batchQueryForm"   ng-click="restoreBackupBtn()" ng-show="baBtnFlag">
						<i class="layui-icon">&#x1002;</i> {{'YWH5500058' | translate}}
					</button>
				
					<button id="reRunBtn" class="layui-btn" validation-submit="batchQueryForm"    ng-click="reRunBtn()" ng-show="againBtnFlag">
						<!-- <i class="layui-icon">&#xe669;</i> 重跑 -->
						<i class="layui-icon">&#xe652;</i>  {{'YWH5500059' | translate}}
					</button>
				</div>
			</div>
		</div>
	</form>
	</div>
</div>