<div ng-controller="blockCodeEstbCtrl">
	<div class="">
		<div ng-show="newCodeShow">
			<form name="blockCodeInfForm" class="layui-form">
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>{{'YYH700001' | translate}}：</div>
					<div class="wd190 float_left">
							<select  class="layui-input step1S" ng-model="operationMode"  validator="required" jf-select="operationModeArr" name="operationMode">
					</select>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>{{'YYH700002' | translate}}：</div>
					<div class="wd190 float_left">
							<select  class="layui-input step1S" ng-model="blockCodeInf.effectivenessCodeType" validator="required"  jf-select="blockTypeArr" name="blockCodeType1"
							maxlength="1">
							</select>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>{{'YYH700003' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input step1I" type="text" validator="required" name="blockCodeScene1" maxlength="2"
							ng-model="blockCodeInf.effectivenessCodeScene">
					</div>
				</div>
<!-- 				<div class="col_td">
					<div class="col4 text_right">{{'YYH700004' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input step1I" type="text" name="blockCodePrioriy" maxlength="2"
							ng-model="blockCodeInf.blockCodePrioriy">
					</div>
					<div class="search_button">
						<button class="layui-btn" ng-click="choseBtnPriority()" >
							<i class="layui-icon">&#xe615;</i>查询
						</button>
					</div>
				</div> -->
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>{{'YYH700005' | translate}}：</div>
					<div class="wd190 float_left">
						<!-- <input class="layui-input" type="text" name="blockScope"
							ng-model="blockCodeInf.blockScope"> -->
						<select  class="layui-input step1S" ng-model="blockCodeInf.effectivenessCodeScope"  validator="required"
							jf-select="blockCodeRangeArr" name="blockCodeScope">
						</select> 
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>{{'YYH700006' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input step1I" type="text" name="blockCodeDesc" maxlength="50"
							ng-model="blockCodeInf.effectivenessCodeDesc" validator="required"/>
					</div>
				</div>
				<div class="col_tr text_center" ng-show="step1Btn">
					<button class="layui-btn layui-btn-radius" ng-click="nextStep1()" validation-submit="blockCodeInfForm">
						<i class="layui-icon">&#xe61a;</i> {{'F00104' | translate}}
					</button>
				</div>
			</form>
		</div>
		<div ng-show="isInfo">
			<div class="clearboth"></div>
			<div class="mainname">{{'YYH700020' | translate}}</div>
			<div style="margin-bottom: 15px;margin-left: 5%;">
				<div class="layui-inline">
					<label class="layui-form-label">{{'YYH700021' | translate}}：</label>
					<div class="wd190 float_left">
						<input class="layui-input"  type="text" name="controlProjectNo"  ng-model="blockCodeInf.controlProjectNo" maxlength="50" >
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">{{'YYH700022' | translate}}：</label>
					<div class="wd190 float_left">
						<input class="layui-input"  type="text" name="controlDesc"  ng-model="blockCodeInf.controlDesc" maxlength="50">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 5%;">
					<div class="search_button">
						<button class="layui-btn" ng-click="queryControlProject()">
							<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
						</button>
					</div>
				</div>
			</div>
			<div class="modalmain">
				<div class="row">
					<div class="colFive">
						<h7>{{'YYH700023' | translate}}</h7>
					</div>
					<div class="colSix">
						<h7>{{'YYH700024' | translate}}</h7>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="row">
					<div class="colOne">
						<select name="s13" size="10" multiple="multiple" id="s13" class="form_selectgro" lay-search="">
							
						</select>
					</div>
					<div class="colTwo4 text-center">
						<button type="button" class="layui-btn mb15" name="add" id="add" value="">
							{{'F00036' | translate}} <i class="layui-icon">&#xe602;</i>
						</button>
						<br />
						<button type="button" class="layui-btn mb15" name="addall" id="addall" value="">
							{{'F00120' | translate}} <i class="layui-icon">&#xe65b;</i>
						</button>
						<br />
						<button type="button" name="remove" id="remove" class="layui-btn mb15">
							<i class="layui-icon">&#xe603;</i> {{'F00122' | translate}}
						</button>
						<br />
						<button type="button" name="removeall" id="removeall" value="" class="layui-btn mb15">
							<i class="layui-icon">&#xe65a;</i> {{'F00123' | translate}}
						</button>
					</div>
					<div class="colThree">
						<select name="s14" size="10" multiple="multiple" id="s14" class="form_selectgro">
						</select>
					</div>
					<div class="clearboth"></div>
				</div>
			</div>
			<div class="col_tr text_center" ng-show="step2Btn">
				<button class="layui-btn layui-btn-radius"  ng-click="stepBackOne()">
					<i class="layui-icon">&#xe619;</i> {{'F00078' | translate}}
				</button>
				<button class="layui-btn layui-btn-radius" ng-click="stepToThree()">
					<i class="layui-icon">&#xe61a;</i> {{'F00085' | translate}}
				</button>
			</div>
		</div>
		<div ng-show="isInfoPrice">
			<div class="clearboth"></div>
			<div class="mainname">{{'YYH700025' | translate}}</div>
			<div style="margin-bottom: 15px;margin-left: 5%;">
				<div class="layui-inline">
					<label class="layui-form-label">{{'YYH700026' | translate}}：</label>
					<div class="wd190 float_left">
						<input class="layui-input"  type="text" name="pricingTag"  ng-model="proObjInstan.pricingTag" maxlength="50" >
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">{{'YYH700027' | translate}}：</label>
					<div class="wd190 float_left">
						<input class="layui-input"  type="text" name="pricingDesc"  ng-model="proObjInstan.pricingDesc" maxlength="50">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 5%;">
					<div class="search_button">
						<button class="layui-btn" ng-click="queryPricingtagList()">
							<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
						</button>
					</div>
				</div>
			</div>
			<div class="modalmain">
				<div class="row">
					<div class="colFive">
						<h7>{{'YYH700028' | translate}}</h7>
					</div>
					<div class="colSix">
						<h7>{{'YYH700029' | translate}}</h7>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="row">
					<div class="colOne">
						<select name="s25" size="10" multiple="multiple" id="s25" class="form_selectgro" lay-search="">
							
						</select>
					</div>
					<div class="colTwo4 text-center">
						<button type="button" class="layui-btn mb15" name="add" id="add25" value="">
							{{'F00036' | translate}} <i class="layui-icon">&#xe602;</i>
						</button>
						<br />
						<button type="button" class="layui-btn mb15" name="addall" id="addall25" value="">
							{{'F00036' | translate}} <i class="layui-icon">&#xe65b;</i>
						</button>
						<br />
						<button type="button" name="remove" id="remove25" class="layui-btn mb15">
							<i class="layui-icon">&#xe603;</i> {{'F00122' | translate}}
						</button>
						<br />
						<button type="button" name="removeall" id="removeall25" value="" class="layui-btn mb15">
							<i class="layui-icon">&#xe65a;</i> {{'F00123' | translate}}
						</button>
					</div>
					<div class="colThree">
						<select name="s26" size="10" multiple="multiple" id="s26" class="form_selectgro">
						</select>
					</div>
					<div class="clearboth"></div>
				</div>
			</div>
			<div class="col_tr text_center">
				<button class="layui-btn layui-btn-radius"  ng-click="stepBackTwo()">
					<i class="layui-icon">&#xe619;</i> {{'F00078' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>