<div ng-controller="checkApplicationFormMCCtrl">
	<div class="section">
		<div class="layui-form">
			<div class="col_td">
				<div class="col4 text_right">MTI ：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.mti" name="mti" type="text" maxlength="4" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'F00111' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.externalIdentificationNo" name="externalIdentificationNo" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200001' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.customerNo" name="customerNo" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td" style="display:none">
				<div class="col4 text_right">{{'ZYH200002' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.processingCode" name="processingCode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200004' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.dateAndTime" name="dateAndTime" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200005' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.posEntryMode" name="posEntryMode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200006' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.functionCode" name="functionCode" type="text" disabled="disabled" maxlength="3" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200007' | translate}}：</div>
				<div class="wd190 float_left">
					<select ng-model="appMCFormInf.messageReasonCode" class="layui-input" jf-select="builder.option(typeArray2)"  name="messageReasonCode" disabled="disabled"></select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">MCC：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.mcc" name="mcc" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200008' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.transAmt" name="transAmt" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200009' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.originalAmountReconciliation" name="originalAmountReconciliation" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200010' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.acquireReferenceNumbr" name="acquireReferenceNumbr" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200011' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.acqId" name="acqId" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200012' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.forwdInstitIdCode" name="forwdInstitIdCode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200013' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.retrievalReferNum" name="retrievalReferNum" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200014' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.authApprovalCde" name="authApprovalCde" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200015' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.terminateIdentNo" name="terminateIdentNo" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200016' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.merchantCde" name="merchantCde" type="text" disabled="disabled">
				</div>
			</div>			
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200017' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.cardAcceptorName" name="cardAcceptorName" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200018' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.additionalData" name="additionalData" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200019' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.terminalType" name="terminalType" type="text" disabled="disabled">
				</div>
			</div>			
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200020' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.messageReversalIndicator" name="messageReversalIndicator" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200021' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.electronicCommerceSecurityLevelIndicator" name="electronicCommerceSecurityLevelIndicator" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200022' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.currencyExponents" name="currencyExponents" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200023' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.currencyCodesAmountsOriginal" name="currencyCodesAmountsOriginal" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200024' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.businessActivity" name="businessActivity" type="text" disabled="disabled">
				</div>
			</div>			
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200025' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.settlementIndicator" name="settlementIndicator" type="text" disabled="disabled">
				</div>
			</div>			
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200026' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.mastercardAssignedId" name="mastercardAssignedId" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200027' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.retrievalDocumentCode" name="retrievalDocumentCode" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200028' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.exclusionRequestCode" name="exclusionRequestCode" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200029' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.documentationIndicator" name="documentationIndicator" type="text" disabled="disabled">
				</div>
			</div>	
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200030' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.amountsAdditional" name="amountsAdditional" type="text" disabled="disabled">
				</div>
			</div>				
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200031' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.transLifeCycleId" name="transLifeCycleId" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td" style="display:none">
				<div class="col4 text_right">{{'ZYH200032' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.messageNumber" name="messageNumber" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200033' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.transOriginInstit" name="transOriginInstit" type="text" disabled="disabled">
				</div>
			</div>							
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200034' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.cardIssuerReferenceData" name="cardIssuerReferenceData" type="text" disabled="disabled">
				</div>
			</div>								
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200035' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appMCFormInf.oldGlobalSerialNumbr" name="oldGlobalSerialNumbr" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200036' | translate}}：</div>
				<div class="wd190 float_left">
					<select ng-model="appMCFormInf.retrievalStatus" class="layui-input" jf-select="builder.option(typeArray4)"  name="retrievalStatus" disabled="disabled"></select>
				</div>
			</div>				
		</div>
	</div>
</div>