<div ng-controller="busProCtrl">
	<div ng-show="isBusPro">
		<form name="busProAndInstanInfoForm"  class="layui-form">
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'YYH100002' | translate}}：</div>
				<div class="wd330 float_left">
					<span style="display: inline-block;width:23%">MODG</span><input style="display: inline-block;width: 77%;" class="layui-input step1I"  type="text" name="businessProgramNo"  ng-model="busProAndInstanInf.businessProgramNoHalf" validator="required,minlength,maxlength,number" minlength="5" maxlength="5">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'YYH100003' | translate}}：</div>
				<div class="wd330 float_left">
					<input class="layui-input step1I"  type="text" name="programDesc"  ng-model="busProAndInstanInf.programDesc" maxlength="50" validator="required">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH100004' | translate}} ：</div>
				<div class="wd330 float_left">
					<select ng-model="busProAndInstanInf.disputeBusinessType"  class="layui-input step1S" jf-select="busTypeArr"name="disputeBusinessType"  >
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH100005' | translate}}：</div>
				<div class="wd330 float_left">
					<!-- <select ng-model="busProAndInstanInf.feeBusinessType" class="layui-input step1S"  jf-select="busTypeArr"name="feeBusinessType" >
					</select> -->
					<input class="layui-input bnone"  type="text" name="defaultBusinessTypeN"  ng-model="busProAndInstanInf.defaultBusinessType" readonly>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH100006' | translate}}：</div>
				<div class="wd330 float_left">
					<input class="layui-input step1I"  type="text" name="paymentPriority"  ng-model="busProAndInstanInf.paymentPriority" validator="number" maxlength="3" >
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH510031' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="busProAndInstanInf.responseType" class="layui-input step1S"  jf-select="responseTypeArr"name="responseType" maxlength="3" autocomplete="off">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'F00140' | translate}}：</div>
				<div class="wd330 float_left">	
					<select ng-model="busProAndInstanInf.programType" class="layui-input step1S"  jf-select="productTypeArr"name="programType" validator="required">
					</select>
				</div>
			</div> 
			<div class="clearboth"></div>
			<div class="col_tr text_center" style="margin-top: 20px;" ng-show="btnbusinessTypeShow">
				<button class="layui-btn layui-btn-radius"  
					ng-click="businessTypeShow()" validation-submit="busProAndInstanInfoForm">
					<i class="layui-icon">&#xe654;</i> {{'YYH510032' | translate}}
				</button>
			</div>
		</form>
		<div class="clearboth"></div>
		<div class="mainname" ng-show="isshow88">{{'YYH510032' | translate}}</div>
		<div ng-show ="isshow88" style="margin-bottom: 15px;margin-left: 5%;">
			<div class="layui-inline">
				<label class="layui-form-label">{{'YYH510017' | translate}}：</label>
				<div class="wd190 float_left">
					<input class="layui-input"  type="text" name="businessTypeCode"  ng-model="busProAndInstanInf.businessTypeCode" maxlength="50" >
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">{{'YYH510033' | translate}}：</label>
				<div class="wd190 float_left">
					<input class="layui-input"  type="text" name="businessDesc"  ng-model="busProAndInstanInf.businessDesc" maxlength="50">
				</div>
			</div>
			<div class="layui-inline" style="margin-left: 5%;">
				<div class="search_button">
					<button class="layui-btn" ng-click="queryAddList()">
						<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
					</button>
				</div>
			</div>
		</div>
		<div class="modalmain" ng-show="isshow88">
				<div class="row">
					<div class="colFive">
						<h7>{{'YYH510032' | translate}}</h7>
						<button class="layui-btn" style="margin-left:8%" ng-click="addBusType()">
							<i class="layui-icon">&#xe654;</i> {{'YYH510034' | translate}}
						</button>
					</div>
					<div class="colSix">
						<h7>{{'YYH510035' | translate}}</h7>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="row">
					<div class="colOne">
						<select name="s3" size="10" multiple="multiple" id="s3" class="form_selectgro">
							
						</select>
					</div>
					<div class="colTwo4 text-center">
						<button type="button" class="layui-btn mb15" name="add" id="add4" value="">
							{{'F00036' | translate}} <i class="layui-icon">&#xe602;</i>
						</button>
						<br />
						<button type="button" class="layui-btn mb15" name="addall" id="addall4" value="">
							{{'F00120' | translate}} <i class="layui-icon">&#xe65b;</i>
						</button>
						<br />
						<button type="button" name="remove" id="remove4" class="layui-btn mb15">
							<i class="layui-icon">&#xe603;</i> {{'F00122' | translate}}
						</button>
						<br />
						<button type="button" name="removeall" id="removeall4" value="" class="layui-btn mb15">
							<i class="layui-icon">&#xe65a;</i> {{'F00123' | translate}}
						</button>
						<button type="button" name="transIdentyN" id="transIdenty" value="" class="layui-btn mb15">
							{{'YYH510036' | translate}}
						</button>
						<button type="button" name="setDefault" id="setDefaultId3" value="" class="layui-btn mb15">
							{{'YYH510037' | translate}}
						</button>
					</div>
					<div class="colThree">
						<select name="s4" size="10" multiple="multiple" id="s4" class="form_selectgro">
						</select>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="col_tr text_center" ng-show="backShow">
					<button class="layui-btn layui-btn-radius" ng-click="stepBackOne()" >
						<i class="layui-icon">&#xe619;</i> {{'F00078' | translate}}
					</button>
					<button class="layui-btn layui-btn-radius" ng-click="stepTo2()">
						<i class="layui-icon">&#xe61a;</i> {{'YYH510038' | translate}}
					</button>
				</div>
			</div>
			<!-- 选择项目类型排除构件  下拉框形式-->
			<!-- <div ng-show = "selInfoTwos">
				<div class="clearboth"></div>
				<div class="mainname">{{'YYH510039' | translate}}</div>
				<div ng-show ="selInfoTwos" style="margin-bottom: 15px;margin-left: 5%;">
					<div class="layui-inline">
						<label class="layui-form-label">{{'F00141' | translate}}：</label>
						<div class="wd190 float_left">
							<input class="layui-input"  type="text" name="artifactNo"  ng-model="busProAndInstanInf.artifactNo" maxlength="50" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">{{'F00142' | translate}}：</label>
						<div class="wd190 float_left">
							<input class="layui-input"  type="text" name="artifactDesc"  ng-model="busProAndInstanInf.artifactDesc" maxlength="50">
						</div>
					</div>
					<div class="layui-inline" style="margin-left: 5%;">
						<div class="search_button">
							<button class="layui-btn" ng-click="queryComponentList()">
								<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
							</button>
						</div>
					</div>
				</div>
				<div class="modalmain">
					<div class="row">
						<div class="colFive">
							<h7>{{'YYH510040' | translate}}</h7>
						</div>
						<div class="colSix">
							<h7>{{'YYH510041' | translate}}</h7>
						</div>
						<div class="clearboth"></div>
					</div>
					<div class="row">
						<div class="colOne">
							<select name="s13" size="10" multiple="multiple" id="s17" class="form_selectgro">
								
							</select>
						</div>
						<div class="colTwo4 text-center">
							<button type="button" class="layui-btn mb15" name="add" id="add17" value="">
								{{'F00036' | translate}} <i class="layui-icon">&#xe602;</i>
							</button>
							<br />
							<button type="button" class="layui-btn mb15" name="addall" id="addall17" value="">
								{{'F00120' | translate}} <i class="layui-icon">&#xe65b;</i>
							</button>
							<br />
							<button type="button" name="remove" id="remove17" class="layui-btn mb15">
								<i class="layui-icon">&#xe603;</i> {{'F00122' | translate}}
							</button>
							<br />
							<button type="button" name="removeall" id="removeall17" value="" class="layui-btn mb15">
								<i class="layui-icon">&#xe65a;</i> {{'F00123' | translate}}
							</button>
						</div>
						<div class="colThree">
							<select name="s14" size="10" multiple="multiple" id="s18" class="form_selectgro">
							</select>
						</div>
						<div class="clearboth"></div>
					</div>
				</div>
				<div class="col_tr text_center">
					<button class="layui-btn layui-btn-radius" ng-click="stepBackThree()">
						<i class="layui-icon">&#xe619;</i> {{'F00078' | translate}}
					</button>
					<button class="layui-btn layui-btn-radius" ng-click="saveBusProgram()" >
						<i class="layui-icon">&#xe61a;</i>{{'F00085' | translate}}
					</button>
				</div>
			</div> -->
			<!-- 选择项目类型排除构件 列表形式 -->
			<div ng-show="twoSteps" class="layui-form">
				<div class="clearboth"></div>
				<div class="mainname">{{'YYH510039' | translate}}</div>
				<div jf-grid="queryArtifactList">
					<table>
						<thead>
							<tr>
								<th>{{'YYH100013' | translate}}</th>
								<th>{{'YYH100029' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center" ng-bind="item.artifactNo"></td>
								<td align="center" ng-bind="item.artifactDesc"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col_tr text_center">
					<button class="layui-btn layui-btn-radius" ng-click="stepBackThree()">
						<i class="layui-icon">&#xe619;</i> {{'F00078' | translate}}
					</button>
					<button class="layui-btn layui-btn-radius" ng-click="saveBusProgram()" >
						<i class="layui-icon">&#xe61a;</i>{{'F00085' | translate}}
					</button>
				</div>
			</div>
		</div>	
		<div ng-show="isBusProEst">
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'YYH100002' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  type="text" name="businessProgramNo"  ng-model="busProInstan.businessProgramNo" disabled   maxlength="9" >
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'YYH100003' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  type="text" name="programDesc"  ng-model="busProInstan.programDesc" disabled   maxlength="50" >
				</div>
			</div>
			<div jf-grid="queryMODG">
				<table>
					<thead>
						<tr>
							<th align="left" style="width:60%">{{'YYH100003' | translate}}</th>
							<!-- <th>PCD描述</th> -->
							<th  align="left" style="width:40%">{{'F00017' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="right">
								<div class="tdDivL">{{item.artifactDesc}}&nbsp;&nbsp;:</div>
								<div class="tdDivR">&nbsp;&nbsp;{{item.elementNo}}&nbsp;&nbsp;{{item.elementDesc}}</div>
							</td>
							<td align="left">
								<button class="layui-btn cancel-btn" type="button"
									ng-click="updateBusProB(item,$index)">
									<i class="layui-icon"></i>{{'F00081' | translate}}
								</button>
								<button class="layui-btn cancel-btn" type="button" ng-if="item.pcdNo != null && item.pcdDesc == '' && item.supportPcd == 'Y'"
									ng-click="setBusProB(item,$index)">
									<i class="layui-icon"></i>{{'F00082' | translate}}
								</button>
								<button class="layui-btn1 cancel-btn" type="button" ng-if="item.pcdNo != null && item.pcdDesc != '' && item.supportPcd == 'Y'"
									ng-click="setBusProB(item,$index)">
									<i class="layui-icon"></i>{{'F00083' | translate}}{{item.pcdDesc}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div class="col_tr text_center">
				<button  class="layui-btn layui-btn-radius" ng-click="stepBackTwo()" >
					<i class="layui-icon">&#xe619;</i> {{'F00078' | translate}}
				</button>
			</div>
		</div>
</div>