<div ng-controller="stagTypeParaDetailCtrl" class="layui-form">
	<form name="stagTypeParaInfForm1" >
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'YYH5500001' | translate}} ：</div>
			<div class="wd190 float_left">
				<select ng-model="vwoperationMode"   jf-select="operationModeArr" name="operationMode" maxlength="3" validator="required" lay-filter="getOperationModeAdd" disabled>
				</select>
			</div>
		</div>
		<div class="col_td" id="stageTypeCode">
			<div class="col4 text_right"><span class="red">*</span>{{'YYH5500002' | translate}}：</div>
			<div class="wd190 float_left" >
				<div class="wd190 float_left" >
					<input  class="layui-input bnone"  type="text" name="stageTypeCode"  ng-model="stagTypeParaInf.stageTypeCode" readonly />
				</div>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'YYH5500003' | translate}}：</div>
			<div class="wd190 float_left">
				<select name="transIdentificationCode" ng-model="vwtransIdentificationCode" validator="required" jf-select="transIdentificationCodeArr" disabled >
				</select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH5500004' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  type="text" name="stageTypeDesc"  ng-model="stagTypeParaInf.stageTypeDesc" validator="required"  maxlength="50" readonly/>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH5500011' | translate}}：</div>
			<div class="wd190 float_left">
				<select name="stageType" ng-model="vwstageType" jf-select="stageTypeArr" disabled>
				</select>
			</div>
		</div>
	</form>
	<div class=" clearboth"></div>
	<div class="mainname">{{'YYH5500006' | translate}}</div>
	<div jf-grid="associatedEventList">
		<table>
			<thead>
				<tr>
					<th align="center">{{'YYH5500007' | translate}}</th>
					<th align="center">{{'YYH5500008' | translate}}</th>
					<th align="center">{{'YYH5500009' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="center" ng-bind="item.eventNo"></td>
					<td align="center" ng-bind="item.eventDesc"></td>
					<td align="center" ng-bind="item.installType"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <div class="col_td">
		<div class="col4 text_right">事件编号：</div>
		<div class="wd190 float_left">
			<input class="layui-input bnone"  type="text" name="stageTypeDesc"  ng-model="stagTypeParaInf.eventNo" validator="required"  maxlength="50" readonly/>
		</div>
	</div>
	<div class="col_td">
		<div class="col4 text_right">事件描述：</div>
		<div class="wd190 float_left">
			<input class="layui-input bnone"  type="text" name="stageTypeDesc"  ng-model="vwstageTypeDesc" validator="required"  maxlength="50" readonly/>
		</div>
	</div>
	<div class="col_td">
		<div class="col4 text_right">事件类别：</div>
		<div class="wd190 float_left">
			<select  name="eventType" ng-model="vweventType" validator="required" jf-select="eventTypeArr" disabled>
			</select>
		</div>
	</div>
	<div class="col_td">
		<div class="col4 text_right">分期类型：</div>
		<div class="wd190 float_left">
			<select  name="stageType" ng-model="vwstageType" validator="required" jf-select="stageTypeArr" disabled>
			</select>
		</div>
	</div> -->
	<div class=" clearboth"></div>
	<div class="mainname">{{'YYH5500010' | translate}}</div>
	<div class="col_td">
		<div class="col4 text_right">{{'YYH5500002' | translate}}：</div>
		<div class="wd190 float_left">
			<input class="layui-input bnone"  type="text" name="stageTypeCode"  ng-model="stagTypeParaInf.stageTypeCode" disabled />
		</div>
	</div>
	<div class="col_td">
		<div class="col4 text_right">{{'YYH5500004' | translate}}：</div>
		<div class="wd190 float_left">
			<input class="layui-input bnone"  type="text" name="stageTypeDesc"  ng-model="stagTypeParaInf.stageTypeDesc" disabled  />
		</div>
	</div>
	<div jf-grid="artifactView">
		<table>
			<thead>
				<tr>
					<th align="left" style="width:60%">{{'YYH5500005' | translate}}</th>
					<!-- <th>PCD描述</th> -->
					<th  align="left" style="width:40%">{{'F00017' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="right">
						<div class="tdDivL">{{item.artifactDesc}}&nbsp;&nbsp;:</div>
						<div class="tdDivR">&nbsp;&nbsp;{{item.elementNo}}&nbsp;&nbsp;{{item.elementDesc}}</div>
					</td>
					<td align="center">
						<button class="layui-btn layui-btn-mini"
						ng-click="queryArtifactBP(item)" ng-if="item.pcdNo!=null && item.supportPcd == 'Y'">
						{{'F00075' | translate}}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>