<div ng-controller="pNonFinanTenanceHistDetailCtrl">
	<div class="section">
		<div class="layui-tab-content">
			<div class="layui-form">
				<div class="" class="layui-form">
					<div class="col_td">
		                <div class="col4 text_right">{{'KHH1100019' | translate}} ：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.eventNo" name="eventNo" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100020' | translate}} ：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.activityNo" name="activityNo" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100013' | translate}} ：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.occurrDate" name="occurrDate" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100014' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.occurrTime" name="occurrTime" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100021' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.relativeTableName" name="relativeTableName" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100022' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.logLevel" name="logLevel" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100008' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.modifyType" name="modifyType" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100006' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.customerNo" name="customerNo" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100016' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.entityKey" name="entityKey" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100023' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.currencyCode" name="currencyCode" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100009' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.modifyFieldName" name="modifyFieldName" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100010' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.modifyBefore" name="modifyBefore" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100011' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.modifyAfter" name="modifyAfter" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1100012' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="nonFinanTenancInf.operatorId" name="operatorId" type="text" disabled="disabled"> 
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>