<div ng-controller="pUserAccessHistDetailCtrl-JY">
	<div class="section">
		<div class="layui-tab-content">
			<div class="layui-form">
				<div class="" class="layui-form">
					<div class="col_td">
		                <div class="col4 text_right">{{'KHH1200017' | translate}} ：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.eventNo" name="eventNo" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200018' | translate}} ：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.activityNo" name="activityNo" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200010' | translate}} ：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.occurrDate" name="occurrDate" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200011' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.occurrTime" name="occurrTime" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200019' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.relativeTableName" name="relativeTableName" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200003' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.logLevel" name="logLevel" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200002' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.modifyType" name="modifyType" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200020' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.customerNo" name="customerNo" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200013' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.entityKey" name="entityKey" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200021' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.currencyCode" name="currencyCode" type="text" disabled="disabled"> 
		                </div>
		            </div>
		            <div class="col_td">
		                <div class="col4 text_right">{{'KHH1200009' | translate}}：</div>
		                <div class="wd190 float_left">
		                    <input class="layui-input bnone" ng-model="userAccessHistInf.operatorId" name="operatorId" type="text" disabled="disabled"> 
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>