<div ng-controller="limitPAddCtrl">
	<div class="">
		<form name="mdmInfoForm"  class="layui-form">
		<div class="mainname titleInfo">{{'SQH1800068' | translate}}</div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH1800062' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" name="transLimitCodeN" ng-model="conlimitSelp.levelFlagInfo"  type="text" readonly>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH1800065' | translate}} ：</div>
			<div class="wd190 float_left" >
				<select id="d" ng-model="currencyCodeInfo" class="layui-input"
								jf-select="crrysArray" name="currencyCodeN" disabled></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH1700083' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" name="transLimitCodeN" ng-model="conlimitSelp.transLimitCode"  type="text" readonly>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH1700081' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" name="differentTypeN" ng-model="differentTypeCusInfo"  type="text" readonly>
			</div>
		</div>
		<div class="col_td" ng-show="isCustomerNoAddp">
			<label class="col4 text_right">{{'F00158' | translate}}：</label>
			<div class="wd190 float_left">
				<select ng-model="idTypeAddp" lay-filter="getIdType"
					jf-select="certificateTypeArray" name="idTypeN" disabled></select>
			</div>
		</div>
		<div class="col_td" ng-show="isCustomerNoAddp">
			<label class="col4 text_right">{{'F00112' | translate}}：</label>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text"	ng-model="idNumberAddp" id="limit_idNumber"  readonly>
			</div>
		</div>
		<div class="col_td" ng-show="isExterNoAddp">
			<label class="col4 text_right">{{'F00111' | translate}}：</label>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="externalIdentificationNoAddp" readonly>
			</div>
		</div>
		<div class="col_td" ng-show="isriskLevelNoAddp">
			<label class="col4 text_right">{{'SQH1700076' | translate}}：</label>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="riskLevelAddp" readonly>
			</div>
		</div>
		<div class="col_td" ng-show="isProNoAddp">
			<label class="col4 text_right">{{'SQJ1700029' | translate}}：</label>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="proNoAddp" readonly>
			</div>
		</div>
		<!-- <div class="col_td" ng-show="isSupplyControlFlagAddp">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH1800084' | translate}} ：</div>
			<div class="wd190 float_left" >
				<select id="d" ng-model="listlimitP.supplyControlFlag" class="layui-input"
								jf-select="supplyControlFlagAdd" name="supplyControlFlag" placeholder="副卡管控标志"></select>
			</div>
		</div> -->
		<div class=" clearboth"></div>
		<div class="mainname titleInfo">{{'SQH1800069' | translate}}</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800070' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitSingleTransN" ng-model="listlimitP.limitSingleTrans" validator="required,number"  type="text"  autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800071' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitDayTransN" ng-model="listlimitP.limitDayTrans" validator="required,number"  type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800072' | translate}}  ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitCycleTransN" ng-model="listlimitP.limitCycleTrans" validator="required,number"  type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800073' | translate}}  ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitMonthTransN" ng-model="listlimitP.limitMonthTrans" validator="required,number"  type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800074' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitHalfYearTransN" ng-model="listlimitP.limitHalfYearTrans" validator="required,number"  type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800075' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitYearTransN" ng-model="listlimitP.limitYearTrans" validator="required,number"  type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800076' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="limitLifeCycleTransN" ng-model="listlimitP.limitLifeCycleTrans" validator="required,number"  type="text" autocomplete="off">
				</div>
			</div>
		<div class=" clearboth"></div>
				<div class="mainname titleInfo">{{'SQH1800077' | translate}}</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800078' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="numberDayTransN" ng-model="listlimitP.numberDayTrans" validator="required,number" type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800079' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="numberCycleTransN"  ng-model="listlimitP.numberCycleTrans" validator="required,number" type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800080' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="numberMonthTransN" ng-model="listlimitP.numberMonthTrans" validator="required,number" type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800081' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="numberHalfYearTransN" ng-model="listlimitP.numberHalfYearTrans" validator="required,number" type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800082' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="numberYearTransN"  ng-model="listlimitP.numberYearTrans" validator="required,number" type="text" autocomplete="off">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH1800083' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="numberLifeCycleTransN" ng-model="listlimitP.numberLifeCycleTrans" validator="required,number" type="text" autocomplete="off">
				</div>
			</div>
	<!-- 		<div class="col_tr text_center" style="margin-top:20px">
				<button class="layui-btn layui-btn-radius" style="margin-right:75px"
					ng-click="saveLimitInfo()" validation-submit="mdmInfoForm">
					<i class="layui-icon">&#xe624;</i> 保存
				</button>
				<button class="layui-btn layui-btn-radius"
					ng-click="resetInfo()">
					<i class="layui-icon">&#xe624;</i> 取消
				</button>
			</div> -->
			<div class=" clearboth"></div>
		</form>
	</div>
</div>
