<div ng-controller="contrlAddCtrl">
	<div class="">
		<form name="mdmInfoForm"  class="layui-form">
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH2200001' | translate}}：</div>
			<div class="wd190 float_left">
				<select class="layui-input"	jf-select="coArray" ng-model="conadd.operationMode" name="operationModeN" validator="required" lay-filter="getOperationModeAdd"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH2200003' | translate}} ：</div>
			<div class="wd190 float_left">
				<select ng-model="conadd.listCode" class="layui-input" jf-select="listCodeAddArr" name="listCodeN" validator="required"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH2200006' | translate}}：</div>
			<div class="wd190 float_left">
				<select ng-model="listTypInfo" class="layui-input"
								jf-select="listTypeArray" name="listTypN" validator="required"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH2200007' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="listDescN"  type="text" ng-model="conadd.listDesc" validator="required" autocomplete="off">
			</div>
		</div>
		<div class=" clearboth"></div>
		<div class="mainname" style="display: inline;">{{'SQH2200013' | translate}}</div>
				<div class="layui-inline float_right">
					<div class="search_button">
						<button class="layui-btn" ng-click="addConAdd()">
							<i class="layui-icon">&#xe654;</i> {{'F00010' | translate}}
						</button>
					</div>
				</div>
		<div style="margin-bottom:20px" >
			<table style="width:100%">
				<thead>
					<tr style="background-color: #DCDCDC;">
						<th align="center" style="width:4%">{{'SQH2200004' | translate}}</th>
						<th align="center" style="width:91%">{{'SQH2200014' | translate}}</th>
						<th align="center" style="width:5%">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="neg in conAddList">
						<td align="center" style="width:4%;padding-top: 5px;" align="center" ng-bind="$index+1"></td>
						<td align="center" style="padding-top: 5px;" class="nine9" align="center" >
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b01{{$index+1}}" ng-model="neg.listProject1" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b02{{$index+1}}" ng-model="neg.listProject2" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b03{{$index+1}}" ng-model="neg.listProject3" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b04{{$index+1}}" ng-model="neg.listProject4" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b05{{$index+1}}" ng-model="neg.listProject5" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b06{{$index+1}}" ng-model="neg.listProject6" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b07{{$index+1}}" ng-model="neg.listProject7" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b08{{$index+1}}" ng-model="neg.listProject8" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b09{{$index+1}}" ng-model="neg.listProject9" type="text"></div>
							<div style="width: 9.6%;display: inline-block;padding-left: 0px;"><input class="layui-input" name="b10{{$index+1}}" ng-model="neg.listProject10" type="text"></div>
						</td>
						<td align="center"  style="width:5%">
							<button class="layui-btn layui-btn-mini" ng-click="delContrlAdd(item,$index)">
								{{'F00016' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class=" clearboth"></div>
		</form>
	</div>
</div>
