<div class="layout_body" ng-controller="negativeListCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent">
		<!-- 正负面清单查询 -->
			<from class="layui-form">
					<div class="col_td">
						<label class="col4 text_right">{{'SQH2200001' | translate}}：</label>
						<div class="wd190 float_left">
							<select ng-model="operationMode" class="layui-input"
									jf-select="coArray" name="aatype" lay-filter="getOperationMode"></select>
						</div>
					</div>
					<div class="col_td">
						<label class="col4 text_right">{{'SQH2200003' | translate}}：</label>
						<div class="wd190 float_left">
							<!-- <input class="layui-input" type="text" ng-model="listCode"> -->
							<select ng-model="listCode" class="layui-input" jf-select="listCodeArr" name="aatype"></select>
						</div>
					</div>
					<div class="col_td">
						<label class="col4 text_right">{{'SQH2200018' | translate}}：</label>
						<div class="wd190 float_left">
							<select ng-model="differentType" class="layui-input"
									jf-select="differentTypeArray" name="differentTypeN" lay-filter="getDifferentType"></select>
						</div>
					</div>
					<div class="col_td" ng-show="isCustomerNo">
						<label class="col4 text_right">{{'F00158' | translate}}：</label>
						<div class="wd190 float_left">
							<select ng-model="idType" jf-select="certificateTypeArray" name="idTypeN"></select>
						</div>
					</div>
					<div class="col_td" ng-show="isCustomerNo">
						<label class="col4 text_right">{{'F00112' | translate}}：</label>
						<div class="wd190 float_left">
							<input class="layui-input" type="text"	ng-model="idNumber">
						</div>
					</div>
					<div class="col_td" ng-show="isExterNo">
						<label class="col4 text_right">{{'F00111' | translate}}：</label>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="externalIdentificationNo">
						</div>
					</div>
					<div class="col_td" ng-show="isriskLevelNo">
						<label class="col4 text_right">{{'SQH1700076' | translate}}：</label>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="riskLevel">
						</div>
					</div>
					<div class="col_td" ng-show="productDimensionNoAdd">
						<label class="col4 text_right">{{'SQJ1700029' | translate}}：</label>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="productDimensionAdd">
						</div>
		            </div>
					<div class="col_tr text_center">
						<div class="search_button">
							<button class="layui-btn" ng-click="seachQuota()" ng-show="selBtnFlag">
								<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
							</button>
							<button class="layui-btn" ng-click="addNegative()" ng-show="addBtnFlag">
								<i class="layui-icon">&#xe654;</i> {{'F00010' | translate}}
							</button>
						</div>
					</div>
			</from>
		<!-- 正负面清单列表 -->
		<div ng-show="isshowb">
			<div jf-grid="itemListb" >
				<table>
					<thead>
						<tr>
							<th>{{'SQH2200004' | translate}}</th>
							<th>{{'SQH2200001' | translate}}</th>
							<th>{{'SQH2200018' | translate}}</th>
							<th>{{'SQH2200002' | translate}}</th>
							<th>{{'SQH2200003' | translate}}</th>
							<th>{{'SQH2200006' | translate}}</th>
							<th>{{'SQH2200007' | translate}}</th>
							<th style="width:20%">{{'F00017' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center"  ng-bind="$index+1"></td>
							<td align="center" ng-bind="item.operationMode"></td>
							<td align="center" ng-bind="item.differentTypeDesc"></td>
							<td align="center" ng-bind="item.differentCode"></td>
							<td align="center" ng-bind="item.listCode"></td>
							<td align="center" ng-bind="item.listTypDesc"></td>
							<td align="center" ng-bind="item.listDesc"></td>
							<td style="width:20%" align="center">
								<button class="layui-btn layui-btn-mini" ng-click="selectList(item)" ng-show="selBtnFlag">
									<i class="layui-icon">&#xe60b;</i> {{'F00014' | translate}}
								</button>
								<button class="layui-btn layui-btn-mini" ng-click="updateInfo(item)" ng-show="updBtnFlag">
									<i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-show="isshowa">
			<div jf-grid="itemLista" >
				<table>
					<thead>
						<tr>
							<th>{{'SQH2200004' | translate}}</th>
							<th>{{'SQH2200001' | translate}}</th>
							<th>{{'SQH2200018' | translate}}</th>
							<th>{{'SQH2200002' | translate}}</th>
							<th>{{'SQH2200003' | translate}}</th>
							<th>{{'SQH2200006' | translate}}</th>
							<th>{{'SQH2200007' | translate}}</th>
							<th style="width:20%">{{'F00017' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center"  ng-bind="$index+1"></td>
							<td align="center" ng-bind="item.operationMode"></td>
							<td align="center" ng-bind="item.differentTypeDesc"></td>
							<td align="center" ng-bind="item.differentCode"></td>
							<td align="center" ng-bind="item.listCode"></td>
							<td align="center" ng-bind="item.listTypDesc"></td>
							<td align="center" ng-bind="item.listDesc"></td>
							<td style="width:20%" align="center">
								<button class="layui-btn layui-btn-mini" ng-click="selectList(item)" ng-show="selBtnFlag">
									<i class="layui-icon">&#xe60b;</i> {{'F00014' | translate}}
								</button>
								<button class="layui-btn layui-btn-mini" ng-click="updateInfo(item)" ng-show="updBtnFlag">
									<i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
