<div ng-controller="clearAbnormalUpdCtrl">
	<div  class="layui-form">
		<div class="col_td">
			<div class="col4 text_right">{{'F00111' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.externalIdentificationNo" name="triggerNoN"validator="required" >
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400013' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.sourceAmount" name="triggerNoN"  validator="required">
			</div>
	    </div>
	    <div class="col_td">
			<div class="col4 text_right">{{'QFH400009' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input icon_date" ng-model="cSceneUpdate.purchaseDate" id="LAY_end_UCLEARAdd" type="text" validator="required">
			</div>
       </div>
	   <div class="col_td">
			<div class="col4 text_right">{{'QFH400010' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.purchaseTime" name="triggerNoN"  readonly>
			</div>
	   </div>
		<div class="col_td">
			<div class="col4 text_right">{{'QFH400006' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.sequenceNumber" name="triggerNoN"  readonly>
			</div>
	    </div>
	    <div class="col_td">
			<div class="col4 text_right">{{'QFH400007' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.channelId" name="triggerNoN"  readonly>
			</div>
       </div>
       <div class="col_td">
			<div class="col4 text_right">{{'QFH400008' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="transactionProcessingCodeInfo" name="triggerNoN" readonly>
			</div>
        </div>
       <div class="col_td">
			<div class="col4 text_right">{{'QFH400010' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.purchaseTime" name="triggerNoN"  readonly>
			</div>
      </div>
      <div class="col_td">
			<div class="col4 text_right">{{'QFH400011' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.purchaseNumber" name="triggerNoN"  readonly>
			</div>
      </div>
     <div class="col_td">
		<div class="col4 text_right">{{'QFH400012' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneUpdate.sourceCurrencyCode" name="triggerNoN"  readonly>
		</div>
     </div>

	 <div class="col_td">
			<div class="col4 text_right">{{'QFH400014' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.acquirerReferenceNumber" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400015' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.merchantCategoryCode" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400016' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.merchantCountryCode" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400017' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.posEntryMode" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400018' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.posTerminalCapability" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400019' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.cardSequenceNumber" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400020' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.acquirersBusinessId" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400021' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.authorizationCode" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400022' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.terminalId" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400023' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.cardAcceptorId" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400024' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.merchantState" name="triggerNoN"readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400025' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.merchantCity" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400026' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.merchantName" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400027' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.merchantZipCode" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400028' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneUpdate.transactionDesc" name="triggerNoN"  readonly>
			</div>
		</div> <div class="col_td">
		<div class="col4 text_right">{{'QFH400029' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneUpdate.fileName" name="triggerNoN"readonly>
		</div>
	</div>
	
	 <div class="col_td">
		<div class="col4 text_right">{{'QFH400030' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneUpdate.rejectionReasonCode" name="triggerNoN"  readonly>
		</div>
	</div>
	 <div class="col_td">
		<div class="col4 text_right">{{'QFH400031' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneUpdate.rejectionReasonDesc" name="triggerNoN" readonly>
		</div>
	</div>
	 <div class="col_td">
		<div class="col4 text_right">{{'QFH400032' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneUpdate.transRetentionDate" name="triggerNoN"  readonly>
		</div>
	</div>
	</div>
</div>
