<div ng-controller="clearAbnormalViewCtrl">
	<div  class="layui-form">
		<div class="col_td">
			<div class="col4 text_right">{{'F00111' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.externalIdentificationNo" name="triggerNoN"  readonly>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'QFH400006' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.sequenceNumber" name="triggerNoN"  readonly>
			</div>
	    </div>
	    <div class="col_td">
			<div class="col4 text_right">{{'QFH400007' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.channelId" name="triggerNoN"  readonly>
			</div>
       </div>
       <div class="col_td">
			<div class="col4 text_right">{{'QFH400008' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="transactionProcessingCodeInfo" name="triggerNoN" readonly>
			</div>
        </div>
        <div class="col_td">
			<div class="col4 text_right">{{'QFH400009' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.purchaseDate" name="triggerNoN" readonly>
			</div>
       </div>
       <div class="col_td">
			<div class="col4 text_right">{{'QFH400010' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.purchaseTime" name="triggerNoN"  readonly>
			</div>
      </div>
      <div class="col_td">
			<div class="col4 text_right">{{'QFH400011' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.purchaseNumber" name="triggerNoN"  readonly>
			</div>
      </div>
      <div class="col_td">
		<div class="col4 text_right">{{'QFH400011' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneItem.purchaseNumber" name="triggerNoN" readonly>
		</div>
     </div>
     <div class="col_td">
		<div class="col4 text_right">{{'QFH400012' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneItem.sourceCurrencyCode" name="triggerNoN"  readonly>
		</div>
     </div>
	 <div class="col_td">
			<div class="col4 text_right">{{'QFH400013' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.sourceAmount" name="triggerNoN"  readonly>
			</div>
	  </div>
	 <div class="col_td">
			<div class="col4 text_right">{{'QFH400014' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.acquirerReferenceNumber" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400015' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.merchantCategoryCode" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400016' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.merchantCountryCode" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400017' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.posEntryMode" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400018' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.posTerminalCapability" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400019' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.cardSequenceNumber" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400020' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.acquirersBusinessId" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400021' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.authorizationCode" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400022' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.terminalId" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400023' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.cardAcceptorId" name="triggerNoN" readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400024' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.merchantState" name="triggerNoN"readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400025' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.merchantCity" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400026' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.merchantName" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400027' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.merchantZipCode" name="triggerNoN"  readonly>
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'QFH400028' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input" ng-model="cSceneItem.transactionDesc" name="triggerNoN"  readonly>
			</div>
		</div> <div class="col_td">
		<div class="col4 text_right">{{'QFH400029' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneItem.fileName" name="triggerNoN"readonly>
		</div>
	</div>
	
	 <div class="col_td">
		<div class="col4 text_right">{{'QFH400030' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneItem.rejectionReasonCode" name="triggerNoN"  readonly>
		</div>
	</div>
	 <div class="col_td">
		<div class="col4 text_right">{{'QFH400031' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneItem.rejectionReasonDesc" name="triggerNoN" readonly>
		</div>
	</div>
	 <div class="col_td">
		<div class="col4 text_right">{{'QFH400032' | translate}}：</div>
		<div class="wd330 float_left">
			<input class="layui-input" ng-model="cSceneItem.transRetentionDate" name="triggerNoN"  readonly>
		</div>
	</div>
	</div>
</div>
