<div ng-controller="choseBusinessItemsCtrl">

<form action="" class="layui-form"  style="margin-bottom: 15px;">
	<div class="col_td">
		<div class="col4 text_right">{{'PZH1100028' | translate}}：</div>
		<div class="wd190 float_left">
			<input class="layui-input" type="text"
				ng-model="proLineList.params.businessProgramNo" maxlength="9">
		</div>
	</div>
	<div class="col_td">
		<div class="col4 text_right">{{'PZH1100029' | translate}}：</div>
		<div class="wd190 float_left">
			<input class="layui-input" type="text"
				ng-model="proLineList.params.programDesc" maxlength="50">
		</div>
	</div>
	<div class="col_tr text_center">
		<button class="layui-btn" ng-click="proLineList.search()" type="button">
			<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
		</button>

		<button class="layui-btn cancel-btn" type="button"
			ng-click="proLineList.params={}">
			<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
		</button>
	</div>
	<div jf-grid="proLineList">
		<table>
			<thead>
				<tr>
					<th>{{'PZH1100028' | translate}}</th>
					<th>{{'PZH1100029' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="center" ng-bind="item.businessProgramNo"></td>
					<td align="center" ng-bind="item.programDesc"></td>
				</tr>
			</tbody>
		</table>
	</div>
	</form>
</div>