<div ng-controller="copyPayProjectCtrl">
	<form name="payProInfcopyForm"  class="layui-form">
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'PZH1100002' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="feeTypeArr" name="feeTypeName"
					ng-model="feeType"  validator="required"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'PZH1100001' | translate}}：</div>
			<div class="wd330 float_left">
				<!-- <input class="layui-input"  type="text" name="feeItemNo"  ng-model="payProInfCopy.feeItemNo"  validator="required" maxlength="8" > -->
				<span style="display: inline-block;width:18%">{{feeItemCopy}}</span>
				<input style="display: inline-block;width: 78%;" class="layui-input"  type="text" name="feeItemNoN"  ng-model="feeItemNoCopyHalf" validator="required,minlength,maxlength,number" minlength="4" maxlength="4" autocomplete="off">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'PZH1100003' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input"  type="text" name="feeDescN"  ng-model="payProInfCopy.feeDesc" maxlength="50" validator="required" autocomplete="off">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100004' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input"  type="text" name="feeEventNo"  ng-model="payProInfCopy.feeEventNo"  maxlength="14"  ng-click="choseEvent()" autocomplete="off">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100005' | translate}}：</div>
			<div class="wd330 float_left">
				<select  name="triggerEventInteractMode"
					ng-model="triggerEventInteractMode" 
					jf-select="wayArray">
				</select>
			</div>
		</div>
		<!-- <div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'PZH1100008' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input"  type="text" name="defaultBusinessItem" ng-model="payProInfCopy.defaultBusinessItem"  maxlength="9" ng-click="choseBusinessItems()" validator="required" autocomplete="off">
			</div>
		</div> -->
		<div class="col_td">
			<div class="col4 text_right">{{'F00189' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input icon_date" ng-model="payProInfCopy.effectiveDate" id="effectiveDate" name="effectiveDate"  type="text" autocomplete="off"/>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'F00190' | translate}}：</div>
			<div class="wd330 float_left">
				<input class="layui-input icon_date" ng-model="payProInfCopy.expirationDate" id="expirationDate"  name="expirationDate" type="text" autocomplete="off" >
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100011' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="instanDimenArr"
					ng-model="instanCode1"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100012' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="instanDimenArr"
					ng-model="instanCode2"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100013' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="instanDimenArr"
					ng-model="instanCode3"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100014' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="instanDimenArr"
					ng-model="instanCode4"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100015' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="instanDimenArr"
					ng-model="instanCode5"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100024' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="itemUseArr"
					ng-model="itemUse"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'PZH1100025' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="assessmentMethodArr" name="payType"  
					ng-model="assessmentMethod" validator="required"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100030' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="periodArray" lay-filter="getFeeIdentifierCopy"
					ng-model="periodicFeeIdentifier"></select>
			</div>
		</div>
		<div ng-show='chargingFrequencyShow'>
		<div class="col_td">
			<div class="col4 text_right">{{'PZH1100031' | translate}}：</div>
			<div class="wd330 float_left">
				<select jf-select="chargingFrequencyArr" 
					ng-model="chargingFrequency" ></select>
			</div>
		</div>
		</div>
	</form>
</div>