<div class="layui-form" ng-controller="payProjectCatalogueCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div  class="allcontent layui-form">
		<div class="col_td">
		<div class="col4 text_right">{{'YYH1200034' | translate}}：</div>
		<div class="wd190 float_left">
			<input class="layui-input"  type="text" name="feeItemNo"  ng-model="payProList.params.feeItemNo"   maxlength="8" >
		</div>
	</div>
	<div class="col_td">
		<div class="col4 text_right">{{'YYH1200002' | translate}}：</div>
			<div class="wd190 float_left">
				<select jf-select="feeTypeArr" name="feeType"
						ng-model="payProList.params.feeType"></select>
			</div>
		</div>
		<div class="col_tr text_center">
			<button class="layui-btn" ng-click="payProList.search()">
				<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
			</button>
	
			<button class="layui-btn cancel-btn" type="button"
				ng-click="payProList.params={}">
				<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
			</button>
		</div>
		<div jf-grid="payProList">
			<table>
				<thead>
					<tr>
						<th>{{'YYH1200034' | translate}}</th>
						<th>{{'YYH1200002' | translate}}</th>
						<th>{{'YYH1200003' | translate}}</th>
						<th>{{'YYH1200004' | translate}}</th>
						<th>{{'YYH1200005' | translate}}</th>
						<th style="padding-left: 0px;padding-right: 0px;width: 31%;">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.feeItemNo"></td>
						<td align="center" ng-bind="item.feeTypeDesc"></td>
						<td align="center" ng-bind="item.feeDesc"></td>
						<td align="center" ng-bind="item.instanCode1Desc"></td>
						<td align="center" ng-bind="item.instanCode2Desc"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini"
								ng-click="checkProCatalogue(item)">
								<i class="layui-icon">&#xe60b;</i> {{'F00009' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="checkPayPro(item)">
								<i class="layui-icon"></i> {{'F00027' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="updateOptModeInf(item)">
								<i class="layui-icon"></i> {{'F00039' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="addPayProExample(item)" ng-show="addBtnFlag">
								<i class="layui-icon">&#xe654;</i> {{'YYH1200041' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>