<div class="layui-form" ng-controller="payProjectQueryCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div  class="allcontent layui-form">
		<!-- 收费项目查询 -->
		<div class="col_td">
			<label class="col4 text_right">{{'PZH1100001' | translate}}：</label>
			<div class="wd190 float_left">
				<input class="layui-input"  type="text" name="feeItemNo"  ng-model="payProList.params.feeItemNo"   maxlength="8" >
			</div>
		</div>
		<div class="col_td">
			<label class="col4 text_right">{{'PZH1100002' | translate}}：</label>
			<div class="wd190 float_left">
				<select jf-select="feeTypeArr" name="feeType"
						ng-model="payProList.params.feeType"></select>
			</div>
		</div>
		<div class="col_tr text_center">
			<button class="layui-btn" ng-click="payProList.search()" ng-show="selBtnFlag">
				<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
			</button>
			<button class="layui-btn" ng-click="addpayPro()" ng-show="addBtnFlag">
				<i class="layui-icon">&#xe654;</i> {{'F00010' | translate}}
			</button>
		</div>
		<!-- 收费项目列表 -->
		<div jf-grid="payProList">
			<table>
				<thead>
					<tr>
						<th>{{'PZH1100001' | translate}}</th>
						<th>{{'PZH1100002' | translate}}</th>
						<th>{{'PZH1100003' | translate}}</th>
						<th>{{'PZH1100004' | translate}}</th>
						<th>{{'F00189' | translate}}</th>
						<th>{{'F00190' | translate}}</th>
						<th style="width:22%;">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.feeItemNo"></td>
						<td align="center" ng-bind="item.feeTypeDesc"></td>
						<td align="center" ng-bind="item.feeDesc"></td>
						<td align="center" ng-bind="item.feeEventNo"></td>
						<td align="center" ng-bind="item.effectiveDate"></td>
						<td align="center" ng-bind="item.expirationDate"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini"
								ng-click="checkPayPro(item)" ng-show="selBtnFlag">
								<i class="layui-icon">&#xe60b;</i> {{'F00009' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="updateOptModeInf(item)" ng-show="updBtnFlag">
								<i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="copyPayPro(item)" ng-show="addBtnFlag">
								<i class="layui-icon">&#xe654;</i> {{'F00061' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>