<div ng-controller="cstFeeInfoCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{userName}}
	</div>
	<div class="search_mian layui-form allcontent">
	 <form action=""  name="queryInfForm">
		<div class="col_td">
			<div class="col4 text_right"> {{'F00158' | translate}} ： </div>
			<div class="wd190 float_left">
				<select ng-model="cstFeeInfoTable.params.idType"
					jf-select="certificateTypeArray" name="idType"  lay-filter="getIdType">
				</select>
			</div>
		</div>
	
		<div class="col_td">
			<div class="col4 text_right">{{'F00112' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input" type="text"  validator="noValidator" id='cstFeeInfo_idNumber'name="idNumber"
					ng-model="cstFeeInfoTable.params.idNumber">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'F00111' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input" type="text"
					ng-model="cstFeeInfoTable.params.externalIdentificationNo">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH7000001' | translate}}：</div>
			<div class="wd190 float_left">
				<select ng-model="cstFeeInfoTable.params.periodicFeeIdentifier" class="layui-input" 
							 jf-select="periodArray" lay-filter="getProduct" lay-search></select>
			</div>
		</div>
		<div ng-show='productShow'>
			<div class="col_td">
					<div class="col4 text_right">{{'YYH510001' | translate}} ：</div>
					<div class="wd190 float_left">
						<select ng-model="cstFeeInfoTable.params.productObjectCode" class="layui-input"  id="productObjectCode"
							 jf-select="proArray" name="aatype" lay-search></select>
					</div>
				</div>
		</div>
		<!-- <div class="col_td">
			<div class="col4 text_right">{{'SQH100002' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" ng-model="cstFeeInfoTable.params.customerNo"
					name="customerNo" type="text">
			</div>
		</div> -->
		<div class="col_tr text_center search_button">
			<button class="layui-btn" type="button"
				ng-click="queryCstPrcgLblEnqr()" validation-submit="queryInfForm">
				<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
			</button>
			<button class="layui-btn cancel-btn" type="button"
				ng-click="reset()">
				<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
			</button>
		</div>
		</form>
		<div ng-show="isShow">
			<div jf-grid="cstFeeInfoTable">
				<table>
					<thead>
						<tr>
							<th style="width:9%">{{'KHH2800003' | translate}}</th>
							<th>{{'KHH2800004' | translate}}</th>
							<th>{{'KHH7000012' | translate}}</th>
							<th>{{'KHH7000013' | translate}}</th>
							<th>{{'KHH7000014' | translate}}</th>
							<th>{{'KHH7000015' | translate}}</th>
							<th>{{'KHH7000016' | translate}}</th>
							<th>{{'KHH2800006' | translate}}</th>
							<th>{{'KHH2800007' | translate}}</th>
							<th>{{'KHH2800008' | translate}}</th>
							<th>{{'KHH2800009' | translate}}</th>
							<th>{{'KHH7000002' | translate}}</th>
							<th>{{'KHH2800013' | translate}}</th>
							<th>{{'F00017' | translate}}	</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center" ng-bind="item.customerNo"></td>
							<td align="center" >
								<span ng-bind="item.feeItemNo"></span>
								<span ng-bind="item.feeDesc"></span>
								
							</td>
							<!-- <td align="center" ng-bind="item.entityKey"></td> -->
							<td align="center" ng-bind="item.instanDesc1"></td>
							<td align="center" ng-bind="item.instanDesc2"></td>
							<td align="center" ng-bind="item.instanDesc3"></td>
							<td align="center" ng-bind="item.instanDesc4"></td>
							<td align="center" ng-bind="item.instanDesc5"></td>
							<td align="left">
								<span  ng-bind="item.currencyCode"></span>
								<span  ng-bind="item.currencyDesc"></span>
							</td>
							<td align="center" ng-bind="item.waiveCycleNo"></td>
							<td align="center" ng-bind="item.executedNum"></td>
							<td align="center" ng-bind="item.waivedNum"></td>
							<td align="center" ng-bind="item.accumulatedCollectionAmount"></td>
							<td align="center" ng-bind="item.accumultWaiveAmt"></td>
							<td align="center" >
								<button class="layui-btn layui-btn-mini" ng-click="queryCustFeeInfo(item)" type="button">
									<i class="layui-icon">&#xe60b;</i>{{'F00009' | translate}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
