<div ng-controller="linesProductCtrl">
	<div class="layui-form">
		<div class=" clearboth"></div>
			<div class="mainname titleInfo">{{'SQH330004' | translate}}</div>
			<div class="col_tr">
				<div class="col2 text_right">{{'F00077' | translate}} ：</div>
				<div class="wdper70 float_left">
					<input class="layui-input bnone" name="operationModeN"  ng-model="itemd.operationMode"  type="text" readonly >
				</div>
			</div>
			<div class="col_tr">
				<div class="col2 text_right">{{'SQH330001' | translate}} ：</div>
				<div class="wdper70 float_left">
					<input class="layui-input bnone" name="businessProgramNoN"  ng-model="itemd.businessProgramNo"  type="text" readonly >
				</div>
			</div>
			<div class="col_tr">
				<div class="col2 text_right">{{'SQH330002' | translate}} ：</div>
				<div class="wdper70 float_left">
					<input class="layui-input bnone" name="transIdentyN"  ng-model="itemd.transIdentifiNo"  type="text" readonly >
				</div>
			</div>
			<div class="col_tr">
				<div class="col2 text_right"><span class="red">*</span>{{'SQH330003' | translate}} ：</div>
				<div class="wdper70 float_left">
					<input class="layui-input bnone" name="quotaN"  ng-model="itemd.creditNodeNo"  type="text" readonly >
				</div>
			</div>
	</div>
</div>
