<div ng-controller="clearHistoryListCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent layui-form">
        <form action="" name="queryVisaMcForms">
         <div class="search_mian">
			<div class="col_td" style="width:28%">
				<div class="col4 text_right">{{'F00111' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="paramsMv" type="text" ng-model="itemList.params.mvCode1" validator="required">
				</div>
			</div>
			<div class="col_td" style="width:44%">
			  <div class="col4 text_right">{{'QFH500033' | translate}}：</div>
			  <div class="wd190 float_left">
				<input class="layui-input" name="fileName" ng-model="itemList.params.mvCode2" type="text">
			  </div>
		    </div>

             <div class="col_td" style="width:28%">
                 <div class="col4 text_right">{{'QFH300002' | translate}}：</div>
                 <div class="wd190 float_left">
                     <select ng-model="itemList.params.card_associations" class="layui-input" jf-select="cardIdArr"
                             name="idNumberAss" lay-filter="getAssociationsVal" id="HistoryAss_idNumber"></select>
                 </div>
             </div>
         </div>
            <div class="col_td" style="width:28%">
                <div class="col4 text_right">{{'QFH500034' | translate}}：</div>
                <div class="wd190 float_left">
                    <select ng-model="itemList.params.mvCode3" class="layui-input" jf-select="presentIdArr"
                            name="idNumber" lay-filter="getpresentVal" id="History_idNumber"></select>
                </div>
            </div>
            <div class="col_td" style="width:44%">
			<div class="col4 text_right">{{'SQH2700027' | translate}}：</div>
				<div class="float_left" style="width:60%">
					<input class="layui-input icon_date" style="width:50%;float:left;" name="fromDataName" id="LAY_start_CAdd" type="text" ng-model="itemList.params.startDate">
					<div class="col4 text_left" style="width:50%;display:-webkit-box;">
						<span>~</span>
						<input class="layui-input icon_date" style="width:100%;" name="toDateName" id="LAY_end_CAdd" type="text" ng-model="itemList.params.endDate">
					</div>
				</div>
            </div>
		<div class="col_tr text_center">
		 <button class="layui-btn" ng-click="queryList()" validation-submit="queryVisaMcForms">
			 <i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
		 </button>
		</div>
       </form>
	</div>
    <div id="Visabox" ng-show="VisamethodShow">
		<div jf-grid="clearVisaHistoryList">
            <!-- VISA -->
			<table>
				<thead>
					<tr>
						<th>{{'F00111' | translate}}</th>    <!--外部识别号-->
						<th>{{'QFH500001' | translate}}</th>
						<th>{{'QFH500012' | translate}}</th>
						<th>{{'QFH500013' | translate}}</th>
						<th>{{'QFH500033' | translate}}</th> <!--ARN-->
						<th>{{'QFH500035' | translate}}</th> <!--交易类型/清算场景-->
						<th style="width:24%;">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.accountNumber"></td>
						<td align="center" ng-bind="item.processingDate"></td>
						<td align="center" ng-bind="item.sourceCurrencyCode"></td>
						<td align="center" ng-bind="item.sourceAmount"></td>
						<td align="center" ng-bind="item.acquirerReferenceNumber"></td>
						<td align="center" ng-bind="item.transactionTypeDesc"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini" ng-click="queryVisaList(item)">
								<i class="layui-icon">&#xe60b;</i> {{'F00009' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
        <!-- MC -->
        <div id="Mcbox" ng-show="McmethodShow">
            <div jf-grid="clearMcHistoryList">
                <table>
                    <thead>
                    <tr>
                        <th>{{'F00111' | translate}}</th>   <!--外部识别号-->
                        <th>{{'QFH500001' | translate}}</th>
                        <th>{{'QFH500012' | translate}}</th>
                        <th>{{'QFH500013' | translate}}</th>
                        <th>{{'QFH500033' | translate}}</th> <!--ARN-->
                        <th>{{'QFH500035' | translate}}1</th> <!--交易类型/清算场景-->
                        <th style="width:24%;">{{'F00017' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td align="center" ng-bind="item.de2PrimaryAccountNumber"></td>
                        <td align="center" ng-bind="item.processingDate"></td>
                        <td align="center" ng-bind="item.de49TransCurrencyCode"></td>
                        <td align="center" ng-bind="item.de4TransactionAmount"></td>
                        <td align="center" ng-bind="item.de31AcquirerReferenceData"></td>
                        <td align="center" ng-bind="item.pds57TransCategoryIndDesc"></td>
                        <td align="center">
                            <button class="layui-btn layui-btn-mini" ng-click="queryMcList(item)" >
                                <i class="layui-icon">&#xe60b;</i> {{'F00009' | translate}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>
