<div class="layout_body layui-form" ng-controller="costCenterListCtr">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent">
		<form class="layui-form" name="centerInfoForm">
            <div class="col_td">
                <div class="col4 text_right"></span>{{'GWH101002' | translate}}：</div>
                <div class="wd190 float_left">
                    <select ng-model="itemList.params.institutionId" jf-select="institutionIdArr" name="institutionId" validator="required">
                    </select>
                </div>
            </div>
			<div class="col_td">
				<label class="col4 text_right">{{'GWH101020' | translate}}：</label>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="itemList.params.socialCreditCode"  name="socialCreditCode" id="centerInfo_socialCreditCode">
				</div>
			</div>
			<div class="col_tr text_center">
				<div class="search_button">
					<button class="layui-btn" ng-click="selectList()">
						<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
					</button>
					<button class="layui-btn cancel-btn" type="button" ng-click="reset()">
						<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
					</button>
				</div>
			</div>
		</form>
	</div>
    <div  style="margin-top: 20px;" ng-show="showItemList">
        <div class="clearboth"></div>
        <div class="mainname">{{'GWH101021' | translate}}</div>
        <div jf-grid="itemList">
        <table>
                <thead>
                <tr>
                    <th>{{'GWH101004' | translate}}</th>
                    <th>{{'GWH101019' | translate}}</th>
                    <th>{{'GWH101011' | translate}}</th>
                    <th>{{'GWH101012' | translate}}</th>
                    <th>{{'GWH101013' | translate}}</th>
                    <th>{{'GWH101014' | translate}}</th>
                    <th style='width:21%;'>{{'F00017' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td align="center" ng-bind="item.socialCreditCode"></td>
                    <td align="center" ng-bind="item.statusCodeDesc"></td>
                    <td align="center" ng-bind="item.billDay"></td>
                    <td align="center" ng-bind="item.statementFlagDesc"></td>
                    <td align="center" ng-bind="item.corporationVipFlagDesc"></td>
                    <td align="center" ng-bind="item.registerDate"></td>
                    <td align="center">
                        <button class="layui-btn layui-btn-mini" ng-click="costCenterInfo(item)" ng-show="seltreeBtnFlag">
                            <i class="layui-icon">&#xe642;</i> {{'F00014' | translate}}
                        </button>
                        <button class="layui-btn layui-btn-mini" ng-click="costCenterUpdate(item)" ng-show="updBtnFlag">
                            <i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
