<div ng-controller="checkCstMediaInfCtrl-JY">
	<div class="section">
		<div class="layui-tab-content">
			<div class="layui-form">
				<div class="" class="layui-form">
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100011' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.operationMode" name="operationMode"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100012' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.mediaUnitCode" name="mediaUnitCode"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100013' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.mediaObjectCode"
								name="mediaObjectCode" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100004' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.productObjectCode"
								name="productObjectCode" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'F00111' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.externalIdentificationNo"
								name="externalIdentificationNo" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100014' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.mainCustomerNo" name="mainCustomerNo"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100015' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.subCustomerCode"
								name="subCustomerCode" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100016' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.institutionId" name="institutionId"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td" >
						<div class="col4 text_right"> {{'KHH5100017' | translate}}：
						</div>
						<div class="wd190 float_left" disabled="disabled">
							<select ng-model="checkCstMediaInf.mainSupplyIndicator" disabled="disabled"
								class="layui-input"
								jf-select="builder.option(mainAttachmentArray)"
								validator="required" name="mainSupplyIndicator">
							</select>
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100018' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.mediaUserName" name="mediaUserName"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100019' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.numberStaffMembers"
								name="numberStaffMembers" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100020' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.branchNumber" name="branchNumber"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100021' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.applicationNumber"
								name="applicationNumber" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100022' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.salesmanNumber" name="salesmanNumber"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100023' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.cryptographicSign"
								name="cryptographicSign" type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100024' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone"
								ng-model="checkCstMediaInf.mediaMark" name="mediaMark"
								type="text" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">{{'KHH5100025' | translate}}：
						</div>
						<div class="wd190 float_left" >
							<select ng-model="checkCstMediaInf.statusCode" disabled="disabled"
								class="layui-input"
								jf-select="builder.option(stateArray)"
								validator="required" name="statusCode">
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>