<div class="layout_body" ng-controller="accountTemplateAddCtrl">
	<div class="subposition">
		<i class="position_icon"></i>当前位置：会计分录模板建立
	</div>
	<div class="allcontent">
	<form name="mdmInfoForm"  class="layui-form">
		<div class="mainname ">会计分录模板基础信息</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>模板名称 ：</div>
			<div class="wd190 float_left " >
				<input class="layui-input " name="operationModeN" ng-model="item.temName"  type="text" validator="required">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>核算场景 ：</div>
			<div class="wd190 float_left ">
				<select ng-model="item.accountScene" class="layui-input"
								jf-select="builder.option(tradArray)" name="aatype" placeholder="核算场景" validator="required"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>事件编号 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  name="bsnNumb" ng-model="item.eventNo"  type="text" validator="required">
			</div>
		</div> 
 		<!-- <div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>增值税税率 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  name="bsnNumbN" ng-model="item.eventId"  type="text" validator="required">
			</div>
		</div> --> 
		
		<div class="col_all" >
			<div class="col2 text_right"><span class="red">*</span>参数说明 ：</div>
			<div class="float_left" style="width:70%">
				<textarea class="layui-textarea" name="can"  ng-model="item.paramDesc" validator="required"></textarea>
			</div>
		</div> 
		<div class=" clearboth"></div>
		
		<div class="col_all">
		<span class="mainname ">借贷配置信息</span>
			<button class="layui-btn layui-btn-mini float_right"  ng-click="addEntryInfo(this)" > 增加</button>
		</div>
		<div class=" clearboth"></div> 
			<div >
		<table border="0" cellspacing="0" cellpadding="0"
					class="layui-table dataTable no-footer" lay-even="" lay-skin="nob">
			<thead>
				<tr>
					<th>借贷方向</th>
					<th>科目编号</th>
					<th>借贷科目/内部账</th>
					<th>业务类型</th>
					<th>币种</th>
					<th>金融符号</th>
					<th>金额类型</th>
					<th>摘要配置方式</th>
					<th>摘要配置内容</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in detaillistTable track by $index">
						<td align="center" >
						<span ng-if="item.debitCreditFlag == 'D'">借</span>
				  		<span ng-if="item.debitCreditFlag == 'C'">贷</span>
				  		<span ng-if="item.debitCreditFlag == 'R'">收</span>
				  		<span ng-if="item.debitCreditFlag == 'P'">付</span>
				  		<span ng-if="item.debitCreditFlag == ' '"></span>
					</td>
				   <td align="center" ng-bind="item.itemId"></td>
				   <td align="center" ng-bind="item.itemNme"></td>
					<td align="center" ng-bind="item.businessTyp"></td>
					<td align="center" >
						<span ng-if="item.currencyCde == 'CNY'">人民币</span>
				  		<span ng-if="item.currencyCde == 'USD'">美元</span>
				  		<span ng-if="item.currencyCde == ' '"></span>
					</td>
				   <td align="center" >
				   		<span ng-if="item.fundDirectFlag == '0'">+</span>
				  		<span ng-if="item.fundDirectFlag == '1'">-</span>
				  		<span ng-if="item.fundDirectFlag == ' '"></span>
				   </td>
				    <td align="center" >
				   		<span ng-if="item.amountType == '1'">本金金额</span>
				  		<span ng-if="item.amountType == '2'">利息金额</span>
				  		<span ng-if="item.amountType == '3'">交易金额</span>
				  		<span ng-if="item.amountType == '4'">税后利息</span>
				  		<span ng-if="item.amountType == '5'">税金金额</span>
				  		<span ng-if="item.amountType == ' '"> </span>
				   </td>
					<td align="center" >
						<span ng-if="item.summaryConfigTyp == '0'">手工配置</span>
				  		<span ng-if="item.summaryConfigTyp == '1'">动态配置</span>
				  		<span ng-if="item.summaryConfigTyp == ' '"></span>
					</td>
					<td align="center" ng-bind="item.summaryContent"></td>
				</tr>
			</tbody>
		</table>
		<div ng-show="tradSelinfo">
			<div class="col10 text_center">暂无数据</div>
		</div>
	</div>
		<div class=" clearboth"></div>
		<div class="col_tr text_center" style="margin-top:20px">
			<button class="layui-btn layui-btn-radius" style="margin-right:75px" validation-submit="mdmInfoForm"
				ng-click="saveAccountScene()">
				<i class="layui-icon">&#xe624;</i> 保存
			</button>
			<button class="layui-btn layui-btn-radius"
				ng-click="resetInfo()">
				<i class="layui-icon">&#xe624;</i> 取消
			</button>
		</div>
		</form>
	</div>
</div>