<div class="layui-form" ng-controller="cstHouseInfEstbCtrlAdd">
			<form name="houseInfoForm">
				<div class="col_td">
					<div class="col4 text_right">{{'KHH6400004' | translate}} ：</div>
					<div class="wd190 float_left">
						<select ng-model="houselInfTableInfoObj.houseOwner" class="layui-input"  validator="required"
							jf-select="houseOwnerArray" name="houseOwner" lay-filter="getHouseOwner">
						</select>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH6400005' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input" type="text" name="occupancyTime"
							ng-model="houselInfTableInfoObj.occupancyTime" maxlength="4"
							validator="required,number">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH6400006' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input" type="text" name="monthlyMortgagePayment"
							ng-model="houselInfTableInfoObj.monthlyMortgagePayment" maxlength="10"
							validator="number">
					</div>
				</div>
			</form>
</div>
