<div ng-controller="businessFormQueryCtrl">
	<div class="subposition">
		<i class="position_icon"></i>当前位置：业务形态查询及维护
	</div>
	<div class="allcontent layui-form">
		<div class="clearboth"></div>

		<div class="col_td">
			<div class="col4 text_right">业务形态 ：</div>
			<div class="wd190 float_left">
					<!-- <select ng-model="businessFormList.params.businessPattern" class="layui-input" name="businessPattern"
				jf-select="builder.option(businessPatternArr)" maxlength="2"></select> -->
				<input class="layui-input" type="text"  name="businessPattern" maxlength="2"
					ng-model="businessFormList.params.businessPattern" />
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">描述 ：</div>
			<div class="wd190 float_left">
					<input class="layui-input" type="text"  name="patternDesc" maxlength="50"
					ng-model="businessFormList.params.patternDesc" />
			</div>
		</div>
		<div class="col_tr text_center">
			<button class="layui-btn" ng-click="businessFormList.search()" >
				<i class="layui-icon">&#xe615;</i> 查询
			</button>

			<button class="layui-btn cancel-btn" type="button"
				ng-click="businessFormList.params={}">
				<i class="layui-icon">&#x1002;</i> 重置
			</button>
		</div>

		<div jf-grid="businessFormList">
			<table>
				<thead>
					<tr>
						<th>业务形态 </th>
						<th>描述</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.businessPattern"></td>
						<td align="center" ng-bind="item.patternDesc"></td>
						<td align="center" >
							
							<button class="layui-btn layui-btn-mini" ng-click="checkBusinessForm(item)">
								<i class="layui-icon"></i> 查询
							</button>
							<button class="layui-btn layui-btn-mini" ng-click="updateBusinessForm(item)">
								<i class="layui-icon"></i> 修改
							</button>
					</td>
					
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
