<div ng-controller="updateBusinessFormCtrl">

	<div class="section layui-form">
		<div class="search_mian ">
			<form name="bsFormInfForm">
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>业务形态 ：</div>
					<div class="wd190 float_left">
							<input class="layui-input bnone" type="text"  name="businessPattern" maxlength="2" 
							ng-model="businessFormItem.businessPattern" disabled/>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right"><span class="red">*</span>描述 ：</div>
					<div class="wd190 float_left">
							<input class="layui-input" type="text"  name="patternDesc" maxlength="50"
							ng-model="businessFormItem.patternDesc" />
					</div>
				</div>
				
			</form>
	</div>
</div>
</div>