<div class="layui-form" ng-controller="nonBetaHistListCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent">
		<div class="col_td">
			<div class="col4 text_right">{{'YYH1800001' | translate}} ：</div>
			<div class="wd191 float_left">
				<select class="layui-input" ng-model="historyList.params.operationMode"
                        jf-select="operationModeArr" name="operationMode" maxlength="3" >
				</select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH1800004' | translate}} ：</div>
			<div class="wd191 float_left">
				<input class="layui-input" type="text"
					ng-model="historyList.params.fieldName">
			</div>
		</div>
		<div class="col_tr text_center">
			<button class="layui-btn" ng-click="historyList.search()" ng-show="selBtnFlag">
				<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
			</button>
			<button class="layui-btn" ng-click="newHistBtn()" ng-show="addBtnFlag">
				<i class="layui-icon">&#xe654;</i> {{'F00010' | translate}}
			</button>
		</div>
		<div jf-grid="historyList">
			<table>
				<thead>
					<tr>
						<th>{{'YYH1800001' | translate}}</th>
						<th>{{'YYH1800002' | translate}}</th>
						<th>{{'YYH1800003' | translate}}</th>
						<th>{{'YYH1800004' | translate}}</th>
						<th>{{'YYH1800005' | translate}}</th>
						<th>{{'YYH1800006' | translate}}</th>
						<th style="width:15%;">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.operationMode"></td>
						<td align="center" ng-bind="item.typeDesc"></td>
						<td align="center" ng-bind="item.logLevelDesc"></td>
						<td align="center" ng-bind="item.enName"></td>
						<td align="center" ng-bind="item.cnName"></td>
						<td align="center" ng-bind="item.savePeriod"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini"
								ng-click="updateHistoryInfo(item)" ng-show="updBtnFlag">
								<i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
