<div ng-controller="updateBondCodeCtrl"  >
	<div class="layui-form ">
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200001' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  type="text" name="operationMode"  ng-model="bondCodeInf.operationMode" disabled>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200002' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  type="text" name="partnerCategoryDesc"  ng-model="bondCodeInf.partnerCategoryDesc"  disabled>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200003' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  type="text" name="fundNum"  ng-model="bondCodeInf.fundNum"  disabled>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200004' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  type="text" name="fundName"  ng-model="bondCodeInf.fundName" disabled>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200005' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  type="text" name="repayPerformOrder"  ng-model="bondCodeInf.repayPerformOrder" maxlength="3">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200006' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input "  type="text" name="isBankFunds"  ng-model="bondCodeInf.isBankFunds"  disabled>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'YYH2200007' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input"  type="text" name="statusDesc"  ng-model="bondCodeInf.statusDesc" disabled>
			</div>
		</div>
	</div>
</div>