<div class="layout_body" ng-controller="scenarioListCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent">
		<div class="layui-form">
			<div class="col_td">
				<label class="col4 text_right">{{'F00077' | translate}}：</label>
				<div class="wd190 float_left">
					<select ng-model="operationMode" class="layui-input"
							jf-select="coArray" name="operationModeN" lay-search=""></select>
				</div>
			</div>
			<div class="col_td">
				<label class="col4 text_right">{{'SQH1500060' | translate}} ：</label>
				<div class="wd190 float_left">
					<!-- <input class="layui-input" type="text" ng-model="authSceneCode"> -->
					<select class="layui-input"	jf-select="authSceneArray" name="authSceneCodeN" ng-model="authSceneCode" lay-search=""></select>
				</div>
			</div>
			<div class="col_tr text_center">
				<button class="layui-btn" ng-click="selList()" ng-show="selBtnFlag">
					<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
				</button>
				<button class="layui-btn" ng-click="addScenarioAdd()" ng-show="addBtnFlag">
					<i class="layui-icon">&#xe654;</i> {{'F00010' | translate}}
				</button>
			</div>
		</div>
		<div ng-show="isShow">
			<div jf-grid="itemList">
				<table>
					<thead>
					<tr>
						<th>{{'F00013' | translate}}</th>
						<th>{{'SQH1500060' | translate}}</th>
						<th>{{'SQH1500061' | translate}}</th>
						<th>{{'SQH1500064' | translate}}</th>
						<th style="width:40%">{{'F00017' | translate}}</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td align="center"  ng-bind="$index+1"></td>
						<td align="center" ng-bind="item.authSceneCode"></td>
						<td align="center" ng-bind="item.sceneDesc"></td>
						<td align="center" >{{item.transIdentifiNo}}{{item.transIdentifiNoDesc}}</td>
						<td style="width:40%" align="center">
							<button class="layui-btn layui-btn-mini" ng-click="selectList(item)" ng-show="selBtnFlag">
								<i class="layui-icon">&#xe60b;</i> {{'F00014' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini" ng-click="updateInfo(item)" ng-show="updBtnFlag">
								<i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini" ng-click="delSceneInfo(item)" ng-show="delBtnFlag">
								<i class="layui-icon">&#xe640;</i> {{'F00016' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini" ng-click="scenarioInfo(item)" ng-show="selTwoBtnFlag">
								<i class="layui-icon">&#xe602;</i> {{'SQH1500062' | translate}}
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
