<div ng-controller="tradScenarioUpdateCtrl">
    <div class="">
        <form name="tradScenarioUpdateForm" class="layui-form">
            <div class="col_tr">
                <div class="col2 text_right"><span class="red">*</span>{{'F00077' | translate}} ：</div>
                <div class="wdper70 float_left">
                    <select class="layui-input" jf-select="coArray" name="operationModeNa" ng-model="operationModeInfo"
                            disabled></select>
                </div>
            </div>
            <div class="col_tr">
                <div class="col2 text_right"><span class="red">*</span>{{'SQH9100005' | translate}} ：</div>
                <div class="wdper70 float_left">
                    <input class="layui-input" type="text" name="transSceneCode" readonly
                           ng-model="tradScenarioUpdate.transSceneCode" validator="required" maxlength="4"/>
                </div>
            </div>
            <div class="col_tr">
                <div class="col2 text_right"><span class="red">*</span>{{'SQH9100006' | translate}}：</div>
                <div class="wdper70 float_left">
                    <input class="layui-input" type="text" name="transSceneDesc"
                           ng-model="tradScenarioUpdate.transSceneDesc" validator="required,maxlength" maxlength="50">
                </div>
            </div>
        </form>
    </div>
</div>

