<div ng-controller="appFormVisaQueryCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="allcontent layui-form">	
	<form action="" name="applicatFormVisa">
		<div class="col_td">
				<div class="col4 text_right"> {{'F00158' | translate}} ： </div>
				<div class="wd190 float_left">
					<select ng-model="appFormVisaQueryTable.params.idType" lay-filter="getIdType"
						jf-select="builder.option(certificateTypeArray1)" name="idType" >
					</select>
				</div>
			</div>
		<div class="col_td">
			<div class="col4 text_right">{{'F00008' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="idNumber" type="text" 
					 id="appliFormVisa_idNumber"  validator="noValidator"
					ng-model="appFormVisaQueryTable.params.idNumber">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'F00112' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" id="externalIdentificationNo" name="externalIdentificationNo"  ng-model="appFormVisaQueryTable.params.externalIdentificationNo" maxlength="19">
				</div>
			</div>
			
			
			<div class="col_tr text_center">
				<div class="search_button">
					<button class="layui-btn" validation-submit="applicatFormVisa"    ng-click="queryitemList()" type="button">
						<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
					</button>

					<button class="layui-btn cancel-btn" type="button"
						ng-click="reset()">
						<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
					</button>
				</div>
			</div>
	
	</form>
		
		<div ng-show="isShow">
		<div jf-grid="appFormVisaQueryTable">
			<table>
				<thead>
					<tr>
						<th>{{'ZYH200001' | translate}}</th>
						<th>{{'ZYH100001' | translate}}</th>
						<th>{{'F00111' | translate}}</th>
						<th>{{'ZYH100002' | translate}}</th>
						<th>{{'ZYH100003' | translate}}</th>
						<th>{{'ZYH100004' | translate}}</th>
						<th>{{'ZYH200008' | translate}}</th>
						<th>{{'ZYH100006' | translate}}</th>
						<th style="width:20%;">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.customerNo"></td>
						<td align="center" ng-bind="item.transactionCode"></td>
						<td align="center" ng-bind="item.externalIdentificationNo"></td>
						<td align="center" ng-bind="item.acquireReferenceNumbr"></td>
						<td align="center" ng-bind="item.acquirerBusinessId"></td>
						<td align="center" ng-bind="item.gmtDate"></td>
						<td align="center" ng-bind="item.transAmt"></td>
						<td align="center" ng-bind="item.transCurrCode"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini"
								ng-click="viewAppFormInf(item)">
								<i class="layui-icon"></i> {{'F00009' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="updateAppFormInf(item)">
								<i class="layui-icon"></i> {{'F00015' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>