<div ng-controller="updateApplicationFormVisaCtrl">
	<div class="section">
		<div class="layui-form">
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100001' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  ng-model="appFormInf.transactionCode" name="transactionCode" type="text" maxlength="2" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200001' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.customerNo" name="customerNo" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'F00111' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.externalIdentificationNo" name="externalIdentificationNo" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100002' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.acquireReferenceNumbr" name="acquireReferenceNumbr" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100003' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.acquirerBusinessId" name="acquirerBusinessId" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100004' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.gmtDate" name="gmtDate" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200008' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.transAmt" name="transAmt" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100006' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.transCurrCode" name="transCurrCode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100007' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.merchantName" name="merchantName" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100008' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.city" name="city" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100009' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.countryCode" name="countryCode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">MCC：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.mcc" name="mcc" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100010' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.merchantZip" name="merchantZip" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100011' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.stateCode" name="stateCode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100012' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  ng-model="appFormInf.issuerControlNumber" name="issuerControlNumber" type="text" maxlength="9">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'ZYH100013' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  ng-model="appFormInf.requestReasonCode" name="requestReasonCode" type="text" maxlength="2">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100014' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.settlementFlag" name="settlementFlag" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100015' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.nationalReimburseFee" name="nationalReimburseFee" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td" style="display:none">
				<div class="col4 text_right">{{'ZYH100016' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.accountSelection" name="accountSelection" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100017' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.retrievalRequestId" name="retrievalRequestId" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100018' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.settlementDate" name="settlementDate" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td" style="display:none">
				<div class="col4 text_right">{{'ZYH100019' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.reimburseAttribute" name="reimbursettribute" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100020' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  ng-model="appFormInf.faxNumber" name="faxNumber" type="text" maxlength="12">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100021' | translate}}：</div>
				<div class="wd190 float_left">
					<!-- <input class="layui-input bnone"  ng-model="appFormInf.requestedFulfllmentMethod" name="requestedFulfllmentMethod" type="text" disabled="disabled"> -->
					<select ng-model="appFormInf.requestedFulfllmentMethod" class="layui-input" jf-select="builder.option(typeArray)"  name="requestedFulfllmentMethod" maxlength="1"></select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100022' | translate}}：</div>
				<div class="wd190 float_left">
					<!-- <input class="layui-input bnone"  ng-model="appFormInf.establishedFulfllmentMethod" name="establishedFulfllmentMethod" type="text" disabled="disabled"> -->
					<select ng-model="appFormInf.establishedFulfllmentMethod" class="layui-input" jf-select="builder.option(typeArray1)"  name="establishedFulfllmentMethod" maxlength="1"></select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100023' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.clearCurrCode" name="clearCurrCode" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100024' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.clearAmount" name="clearAmount" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH100025' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.transIdentifier" name="transIdentifier" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200035' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input bnone"  ng-model="appFormInf.oldGlobalSerialNumbr" name="oldGlobalSerialNumbr" type="text" disabled="disabled">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'ZYH200036' | translate}}：</div>
				<div class="wd190 float_left">
					<select ng-model="appFormInf.retrievalStatus" class="layui-input" jf-select="builder.option(typeArray3)"  name="retrievalStatus"></select>
				</div>
			</div>
		</div>
	</div>
</div>