<div ng-controller="updateAccRuleSubSubjectCtrl">
	<div class=" ">
		<form name="accRuleSubSubjectForm" class="layui-form">
			<div class="col_td">
				<div class="col5 text_right"><span class="red">*</span>{{'YYH400001' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="updateOperationMode" jf-select="operationModeArr" name="operationMode"
					 validator="required,maxlength" maxlength="3" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right"><span class="red">*</span>{{'YYH5400013' | translate}}：</div>
				<div class="wd190 float_left">
					 <select class="layui-input" ng-model="uaccountingRuleCode" jf-select="accountingRuleCodeArrU" name="accountingRuleCodeN"
					 disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400033' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="subTableSequence" ng-model="accRuleSubSubjectInf.subTableSequence"
					 maxlength="3" readonly>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400113' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="subTableSequenceDesc" ng-model="accRuleSubSubjectInf.subDesc">
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400034' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="engineElement1" ng-model="accRuleSubSubjectInf.engineElement1"
					 maxlength="4">
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400037' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="engineElement1Desc" ng-model="accRuleSubSubjectInf.engineElement1Desc"
					 maxlength="20">
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400035' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="engineElement2" ng-model="accRuleSubSubjectInf.engineElement2"
					 maxlength="4">
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400038' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" name="engineElement1Desc" ng-model="accRuleSubSubjectInf.engineElement2Desc"
					 maxlength="20">
				</div>
			</div>

			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400082' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="updateAccountingStatus" jf-select="accountingStatusArrU" name="instanDimen4"
					 maxlength="3">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400083' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="updateBalanceStatus" jf-select="balanceStatusArrU" name="balanceStatus">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400039' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="upassetProperty" jf-select="assetPropertyArr" name="assetProperty">
					</select>
				</div>
			</div>
			<!-- <div class="col_td">
				<div class="col5 text_right">{{'YYH5400093' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="bindAcctSceneUpdate" jf-select="bindAcctSceneArr" name="bindAcctSceneN">
					</select>
				</div>
			</div> -->
			<div class="col_td"></div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400104' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ulinkedRevenueRuleCode" jf-select="linkedArr01u" name="linkedRevenueRuleCodeN" lay-filter="getRule01u">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400114' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ulinkedRevenueSubCode" jf-select="linkedSubArr01u" name="linkedRevenueSubCodeN">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400105' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ulinkedTaxRuleCode" jf-select="linkedArr02u" name="linkedTaxRuleCodeN" lay-filter="getRule02u">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col5 text_right">{{'YYH5400115' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ulinkedTaxSubCode" jf-select="linkedSubArr02u" name="linkedTaxSubCodeN">
					</select>
				</div>
			</div>
			<div class="col_td" ng-show="isHaveU">
				<div class="col5 text_right">{{'YYH5400106' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ubindingLinkedRevenueRuleCode" jf-select="linkedArr03u" name="bindingLinkedRevenueRuleCodeN" lay-filter="getRule03u">
					</select>
				</div>
			</div>
			<div class="col_td" ng-show="isHaveU">
				<div class="col5 text_right">{{'YYH5400116' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ubindingLinkedRevenueSubCode" jf-select="linkedSubArr03u" name="bindingLinkedRevenueSubCodeN">
					</select>
				</div>
			</div>
			<div class="col_td" ng-show="isHaveU">
				<div class="col5 text_right">{{'YYH5400107' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ubindingLinkedTaxRuleCode" jf-select="linkedArr04u" name="bindingLinkedTaxRuleCodeN" lay-filter="getRule04u">
					</select>
				</div>
			</div>
			<div class="col_td" ng-show="isHaveU">
				<div class="col5 text_right">{{'YYH5400117' | translate}}：</div>
				<div class="wd190 float_left">
					<select class="layui-input" ng-model="ubindingLinkedTaxSubCode" jf-select="linkedSubArr04u" name="bindingLinkedTaxSubCodeN">
					</select>
				</div>
			</div>
		</form>
	</div>
</div>
