<div ng-controller="viewAccTypemMapDimInstanCtrl">
	<div class="section">
		<div class="layui-form">
			<div class="col_td">
				<div class="col4 text_right">{{'YYH400001' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.operationMode" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH5400013' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.accountingType" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH400005' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.instanCode1" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH400007' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.instanCode2" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH400009' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.instanCode3" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH400011' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.instanCode4" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'YYH400013' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="items.instanCode5" disabled>
				</div>
			</div>
		</div>
	</div>
</div>
