<div ng-controller="checkTxnCgyAvyLogEnqr">
	<div class="">
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400016' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.eventNo" name="eventNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400017' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.activityNo" name="activityNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'F00111' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.externalIdentificationNo" name="externalIdentificationNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400018' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.entityKey" name="entityKey" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400010' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.transDate"  name="transDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<!-- <div class="col4 text_right">发生日期 ：</div> -->
			<div class="col4 text_right">{{'KHH2400012' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.occurrDate" name="occurrDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400008' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.transCurrCde"  name="transCurrCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400009' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.transAmount"  name="transAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400038' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.postingCurrencyCode" name="postingCurrencyCode" type="text" disabled="disabled">
			</div>
		</div>

		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400011' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.postingAmount"  name="postingAmount" type="text" disabled="disabled">
			</div>
		</div>
		
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400020' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.settlementCurrencyCode" name="settlementCurrencyCode" type="text" disabled="disabled">
			</div>
		</div>
		
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400021' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.settlementAmount" name="settlementAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400022' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.postingConvertRate" name="postingConvertRate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400013' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.transDesc" name="transDesc" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400023' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.balanceType" name="balanceType" type="text" disabled="disabled">
			</div>
		</div>

		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400024' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.customerNo" name="customerNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400025' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.accountId" name="accountId" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400026' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.transState" name="transState" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400027' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.businessTypeCode" name="businessTypeCode" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400028' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.balanceObjectCode" name="balanceObjectCode" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400029' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.authCde" name="authCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400030' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.sourceCde" name="sourceCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400031' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.transCountryCde" name="transCountryCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400032' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.transCityCde" name="transCityCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400033' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.acquireReferenceNumbr" name="acquireReferenceNumbr" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400034' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.channelCde" name="channelCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400035' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.mcc" name="mcc" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400036' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="txnCgyAvyLogEnqrInfo.merchantCde" name="merchantCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2400037' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="txnCgyAvyLogEnqrInfo.globalSerialNumbr" name="globalSerialNumbr" type="text" disabled="disabled">
			</div>
		</div>
		<div ng-show="cheXiaoTrue" style="text-align:center;">
			<button class="layui-btn layui-btn-mini" 
				ng-click="revocation(txnCgyAvyLogEnqrInfo)">
				<i class="layui-icon"></i> T.T('F00049')
			</button>		
		</div>
		
	</div>
</div>
