
<style>
	.layui-btn-group .layui-btn {
		margin-right: 5px !important
	}
</style>
<div ng-controller="transHistDetailCtrl">
	<div class="">
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800011' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.eventNo" name="eventNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800022' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.activityNo" name="activityNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800002' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.externalIdentificationNo" name="externalIdentificationNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800023' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.entityKey" name="entityKey" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800008' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.transDate"  name="transDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<!-- <div class="col4 text_right">发生日期 ：</div> -->
			<div class="col4 text_right">{{'KHH1800010' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.occurrDate" name="occurrDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800006' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.transCurrCde"  name="transCurrCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800007' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.transAmount" jf-format-input="money" name="transAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800042' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.postingCurrencyCode" name="postingCurrencyCode" type="text" disabled="disabled">
			</div>
		</div>

		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800009' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.postingAmount"  jf-format-input="money"  name="postingAmount" type="text" disabled="disabled">
			</div>
		</div>
		
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800025' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.settlementCurrencyCode" name="settlementCurrencyCode" type="text" disabled="disabled">
			</div>
		</div>
		
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800026' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.settlementAmount" jf-format-input="money"  name="settlementAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800027' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.postingConvertRate" name="postingConvertRate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800012' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.transDesc" name="transDesc" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800017' | translate}} ：</div>
			<div class="wd190 float_left">
				<span ng-if="transHistDetailInfo.balanceType=='P'">本金</span>
				<span ng-if="transHistDetailInfo.balanceType=='I'">利息</span>
				<span ng-if="transHistDetailInfo.balanceType=='F'">費用</span>
			</div>
		</div>

		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800028' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.customerNo" name="customerNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800029' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.accountId" name="accountId" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800030' | translate}} ：</div>
			<div class="wd190 float_left">
				<span  ng-if="transHistDetailInfo.transState == 'NOR'">正常 </span>
				<span  ng-if="transHistDetailInfo.transState == 'INS'">已分期</span>
				<span  ng-if="transHistDetailInfo.transState == 'REV'">已冲正 </span>
				<span  ng-if="transHistDetailInfo.transState == 'FRT'">全额退货</span>
				<span  ng-if="transHistDetailInfo.transState == 'PRT'">部分退货  </span>
				<span  ng-if="transHistDetailInfo.transState == 'DIS'">争议登记</span>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800031' | translate}} ：</div>
			<div class="wd190 float_left">
			<span>{{transHistDetailInfo.businessTypeCode}}</span><span>{{transHistDetailInfo.businessDesc}}</span>
				<input class="layui-input bnone"  ng-model="transHistDetailInfo.businessTypeCode" name="businessTypeCode" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800032' | translate}} ：</div>
			<div class="wd210 float_left">
				<span>{{transHistDetailInfo.balanceObjectCode}}</span><span>{{transHistDetailInfo.objectDesc}}</span>
				<!-- <input class="layui-input bnone"  ng-model="transHistDetailInfo.balanceObjectCode" name="balanceObjectCode" type="text" disabled="disabled"> -->
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800033' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.authCde" name="authCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800034' | translate}}  ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.sourceCde" name="sourceCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800035' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.transCountryCde" name="transCountryCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800036' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.transCityCde" name="transCityCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800037' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.acquireReferenceNumbr" name="acquireReferenceNumbr" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800038' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.channelCde" name="channelCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800039' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.mcc" name="mcc" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800040' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="transHistDetailInfo.merchantCde" name="merchantCde" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH1800041' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  style="width: 260px;" ng-model="transHistDetailInfo.globalSerialNumbr" name="globalSerialNumbr" type="text" disabled="disabled">
			</div>
		</div>
		
	</div>
</div>
