<div ng-controller="viewBillCtrl">
	<div class="">
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500014' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.customerNo" name="customerNo" type="text" disabled="disabled">
			</div>
		</div>
		<!--<div class="col_td">
			<div class="col4 text_right">宽限余额{{'KHH4500020' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.allGraceBalance" jf-format-input="money" name="allGraceBalance" type="text" disabled="disabled">
			</div>
		</div>-->
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500020' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.allGraceBalance"  name="allGraceBalance" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500065' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.creditNum" name="creditNum" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500066' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.creditAmount" jf-format-input="money" name="creditAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"> {{'KHH4500024' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.debitNum" name="debitNum" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500023' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.debitAmount" jf-format-input="money" name="debitAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500031' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.currentRepayAmount" jf-format-input="money" name="currentRepayAmount" type="text" disabled="disabled">
			</div>
		</div>
		
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500011' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.postingAmount" jf-format-input="money" name="postingAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500026' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.principalAmount" jf-format-input="money" name="principalAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500027' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.feeAmount" jf-format-input="money" name="feeAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500028' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.interestAmount" jf-format-input="money"  name="interestAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500029' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.currentAccountBalance" jf-format-input="money" name="currentAccountBalance" type="text" disabled="disabled">
			</div>
		</div>
		<!-- <div class="col_td">
			<div class="col4 text_right">本期最低需还款额：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.currCyclePaymentMin" jf-format-input="money" name="currCyclePaymentMin" type="text" disabled="disabled">
			</div>
		</div> 
		 <div class="col_td">
			<div class="col4 text_right">逾期金额：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.dueAmount" jf-format-input="money" name="dueAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">逾期期数：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.cycleDueNum"  name="cycleDueNum" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">逾期天数 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInf.cycleDueDayNum" name="cycleDueDayNum" type="text" disabled="disabled">
			</div>
		</div> -->
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500030' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.beginBalance" jf-format-input="money" name="beginBalance" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4500033' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInf.minRepayAmt" jf-format-input="money"  name="beginBalance" type="text" disabled="disabled">
			</div>
		</div>
		<!-- 延滞信息列表 -->
		<div style="margin-bottom:20px;">
			<div class="clearfix"></div>
			<h3 class="col_tr  text_left" >{{'KHH4500034' | translate}}</h3>
			<table border="0" cellspacing="0" cellpadding="0"
					class="layui-table dataTable no-footer" lay-even=""
					lay-skin="nob">
				<thead>
					<tr>
						<!-- <th>选择</th> -->
						<th>{{'KHH4500035' | translate}}</th>
						<th>{{'KHH4500036' | translate}}</th>
						<th >{{'KHH4500005' | translate}}</th>
						<th>{{'KHH4500067' | translate}}</th>
						<th>{{'KHH4500038' | translate}}</th>
						<th>{{'KHH4500039' | translate}}</th>
						<th>{{'KHH4500040' | translate}}</th>
						<th >{{'KHH4500041' | translate}}</th> 
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="items in delayInf track by $index">
						<td align="center" ng-bind="$index + 1"></td>
						<td align="center" >
							<span ng-if="items.delinquencyLevel =='A'">{{'KHH4500042' | translate}}</span>
							<span ng-if="items.delinquencyLevel =='P'">{{'KHH4500043' | translate}}</span>
							<span ng-if="items.delinquencyLevel =='G'">{{'KHH4500044' | translate}}</span>
						</td>
						<!-- <td align="center"   ng-bind="items.levelCode">  -->
						<td align="center"> 
							<span>{{item.businessProgramNo}}{{item.programDesc}}</span>
						</td>
						<td align="center" >
							<span>{{item.productObjectCode}}</span><span>{{item.product_desc}}</span>
						</td>
						<!-- <td align="center"  ng-bind="items.productObjectNo"></td> -->
						<td align="center"  ng-bind="items.cycleNo"></td>
						<td align="center"  ng-bind="items.currCyclePaymentMin | jfMoney:2"></td>
						<td align="center"  ng-bind="items.cycleDueNum"></td>
						<td align="center"  ng-bind="items.cycleDueDayNum "></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="clearfix"></div>
		<!-- 账单摘要明细(业务类型级)列表 -->
		<h3 class="col_tr  text_left"  style="margin-top:30px;">{{'KHH4500045' | translate}}</h3>
		<div jf-grid="billSummList">
			<table>
				<thead>
					<tr>
						<th style="width: 73px;">{{'KHH4500017' | translate}}</th>
						<th style="width: 75px;">{{'KHH4500005' | translate}}</th>
						<th style="width: 75px;">{{'KHH4500067' | translate}}</th>
						<th style="width: 73px;">{{'KHH4500008' | translate}}</th>
						<th>{{'KHH4500009' | translate}}</th>
						<th>{{'KHJ4500018' | translate}}</th>
						<th>{{'KHH4500011' | translate}}</th>
						<th  style="width: 150px;">{{'F00017' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">
							<span>{{item.businessTypeCode}}{{item.businessDesc}}</span>
						</td>
						<td align="center">
							<span>{{item.businessProgramNo}}{{item.programDesc}}</span>
						</td>
						<td align="center" >
							<span>{{item.productObjectCode}}</span><span>{{item.productDesc}}</span>
						</td>
						<td align="center">
							<span>{{item.billDate}}</span>
						</td>
						<td align="center" ng-bind="item.currencyCode">
							<!-- <span ng-if="item.currencyCode ==  '156' ">{{'PZJ900001' | translate}}</span>
							<span ng-if="item.currencyCode ==  '840' ">{{'PZJ900002' | translate}}</span> -->
						</td>
						<td align="center" ng-bind="item.currentCycleNumber"></td>
						<td align="center" ng-bind="item.postingAmount | jfMoney:2"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini"
								ng-click="checkBsTypeItem(item)">
								 {{'F00009' | translate}}
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="billStageTwo(item)">
								 {{'KHJ4500013' | translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
