<div ng-controller="keyAddCtrl">
	<div class="">
		<form name="mdmInfoForms"  class="layui-form">
		<div class="col_td" >
			<div class="col4 text_right"><span class="red">*</span>{{'F00077' | translate}} ：</div>
			<div class="wd190 float_left">
				<select class="layui-input"	jf-select="coArray" name="operationModeNAdd" ng-model="operationModeAdd" validator="required" ></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000002' | translate}} ：</div>
			<div class="wd190 float_left">
				<select class="layui-input" jf-select="recordTypeArray" name="keyTypeN" ng-model="keyadd.keyType" validator="required" lay-filter="getTypeValue"></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000003' | translate}}ID ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" type="text" name="keyIdN" ng-model="keyadd.keyId" validator="required,number" maxlength="3" minlength="3">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'F00091' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="paramDescN"  type="text" ng-model="keyadd.keyDesc" validator="required">
			</div>
		</div>
		<div class=" clearboth"></div>
		<div class="mainname titleInfo">KEY{{'SQH3000005' | translate}}</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000006' | translate}} ：</div>
			<div class="wd190 float_left">
				<select ng-model="keyadd.logIsoMsgInd" class="layui-input"
							jf-select="threeArray" name="logIsoMsgIndN" lay-filter="getTypethree"></select>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000007' | translate}} ：</div>
			<div class="wd190 float_left">
				<select ng-model="keyadd.algorithmType" class="layui-input"
							jf-select="algorithmTypeArray" name="algorithmTypeN" validator="required"></select>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000008' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keySingleN"  type="text" ng-model="keyadd.checkValue" validator="required,maxlength" maxlength="16">
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000009' | translate}}1 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keySingleN"  type="text" ng-model="keyadd.keySingle" validator="required,maxlength" maxlength="16">
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td"  ng-show = "istwoValue">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000009' | translate}}2 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keyDoubleN"  type="text" ng-model="keyadd.keyDouble" validator="maxlength" maxlength="16">
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td"  ng-show = "istreeValue">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH3000009' | translate}}3 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keyTripleN"  type="text" ng-model="keyadd.keyTriple" validator="maxlength" maxlength="16">
			</div>
		</div>
		<div class=" clearboth"></div>
		</form>
	</div>
</div>
