<div ng-controller="keyInfoCtrl">
	<form name="mdmInfoForm"  class="layui-form">
	<div class="col_td">
		<div class="col4 text_right">{{'F00077' | translate}} ：</div>
		<div class="wd190 float_left">
			<select class="layui-input"	jf-select="coArray" name="operationModeNa" ng-model="operationModeInfo" disabled></select>
		</div>
	</div>
	<div class="col_td">
			<div class="col4 text_right">{{'SQH3000002' | translate}} ：</div>
			<div class="wd190 float_left">
				<select class="layui-input" jf-select="recordTypeArray" name="keyTypeN" ng-model="keyTypeInfo" disabled></select>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH3000003' | translate}}ID ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" type="text" name="keyIdN" ng-model="itemInfo.keyId" readonly>
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'F00091' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="paramDescN"  type="text" ng-model="itemInfo.keyDesc" readonly>
			</div>
		</div>
		<div class=" clearboth"></div>
		<div class="mainname titleInfo">KEY{{'SQH3000005' | translate}}</div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH3000006' | translate}} ：</div>
			<div class="wd190 float_left">
				<select ng-model="logIsoMsgIndInfo" class="layui-input"
							jf-select="threeArray" name="logIsoMsgIndN" disabled></select>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH3000007' | translate}} ：</div>
			<div class="wd190 float_left">
				<select ng-model="algorithmTypeInfo" class="layui-input"
							jf-select="algorithmTypeArray" name="algorithmTypeN" disabled></select>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH3000008' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keySingleN"  type="text" ng-model="itemInfo.checkValue" readonly>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH3000009' | translate}}1 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keySingleN"  type="text" ng-model="itemInfo.keySingle" readonly>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td"  ng-show = "istwoValue">
			<div class="col4 text_right">{{'SQH3000009' | translate}}2 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keyDoubleN"  type="text" ng-model="itemInfo.keyDouble" readonly>
			</div>
		</div>
		<div class="col_td"></div>
		<div class="col_td"  ng-show = "istreeValue">
			<div class="col4 text_right">{{'SQH3000009' | translate}}3 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="keyTripleN"  type="text" ng-model="itemInfo.keyTriple" readonly>
			</div>
		</div>
		<div class=" clearboth"></div>
	</form>
</div>
