<div ng-controller="blockCodeHistoryInfoCtrl">
	<div class="section">
		<div class="layui-tab-content">
			<form name="infoFormM"  class="layui-form">
				<div class="mainname titleInfo">{{'KHH700020' | translate}}</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700021' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="eventNoN" ng-model="codeItem.eventNo" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700022' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="eventDescN" ng-model="codeItem.eventDesc" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700023' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="effectivenessCodeTypeN" ng-model="codeItem.effectivenessCodeType" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700024' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="effectivenessCodeSceneN" ng-model="codeItem.effectivenessCodeScene" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700025' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="effectivenessCodeDescN" ng-model="codeItem.effectivenessCodeDesc" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700026' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="sceneTriggerObjectLevelN" ng-model="codeItem.sceneTriggerObjectLevelTrans" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700027' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="sceneTriggerObjectCodeN" ng-model="codeItem.sceneTriggerObjectCode" type="text">
					</div>
				</div>
				<!-- <div class="col_td">
					<div class="col4 text_right">当前管控码日期{{'F00008' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="currEffectivenessDateN" ng-model="codeItem.currEffectivenessDate" type="text">
					</div>
				</div> -->
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700017' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="stateN" ng-model="codeItem.stateTrans" type="text">
					</div>
				</div>
				<!-- <div class="col_td">
					<div class="col4 text_right">管控码结束日期{{'F00008' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="endEffectivenessDateN" ng-model="codeItem.endEffectivenessDate" type="text">
					</div>
				</div> -->
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700014' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="settingDateN" ng-model="codeItem.settingDate" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700028' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="settingTimeN" ng-model="codeItem.settingTime" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700029' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="settingUpUseridN" ng-model="codeItem.settingUpUserid" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700016' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="removeDateN" ng-model="codeItem.removeDate" type="text">
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH700030' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="removalUseridN" ng-model="codeItem.removalUserid" type="text">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>