<div class="layout_body" ng-controller="adjustHistoryCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | T}}：{{menuName}}
	</div>
	<div class="allcontent">
		<form class="layui-form" name="adjustHistoryForm">
			<div class="col_td">
				<label class="col4 text_right">{{'F00158' | T}}：</label>
				<div class="wd190 float_left">
					<select ng-model="idType" lay-filter="getIdType" jf-select="certificateTypeArray" name="idType">
					</select>
				</div>
			</div>
			<div class="col_td">
				<label class="col4 text_right">{{'F00112' | T}}：</label>
				<div class="wd190 float_left" >
					<input class="layui-input" type="text" ng-model="idNumber" id="adjustHistory_idNumber"   validator="noValidator">
				</div>
			</div>
			<div class="col_td">
				<label class="col4 text_right">{{'F00111' | T}}：</label>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" ng-model="externalIdentificationNo">
				</div>
			</div>
			<div class="col_tr text_center">
				<div class="search_button">
					<button class="layui-btn" validation-submit="adjustHistoryForm"  ng-click="queryQuota()">
						<i class="layui-icon">&#xe615;</i> {{'F00009' | T}}
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="allcontent"  ng-show="showQuotaTable">
		<div class="mainname">{{'SQH300013' | T}}</div>
		<div style="margin-bottom:20px">
		<table style="width:100%">
			<thead>
				<tr style="background-color: #DCDCDC;">
					<th style="width: 10%;" align="center">{{'SQH300007' | T}}</th>
					<th align="center" style="width: 10%;">{{'SQH300008' | T}}</th>
                    <th style="width:15%" align="center">{{'SQH300014' | T}}</th>
                    <th style="width:15%" align="center">{{'SQH300016' | T}}</th>
                    <th style="width: 15%;" align="center">{{'SQH300017' | T}}</th>
                    <th style="width: 15%;" align="center">{{'SQH300018' | T}}</th>
                    <th align="center" style="width: 20%;">{{'F00017' | T}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "item in quotaListB">
					<td style="width: 10%;" align="center" ng-bind="item.creditDesc"></td>
	                    <td align="center" style="width: 10%;" ng-bind="item.currencyCode"></td>
                        <td style="width:15%" align="center" ng-bind="item.permLimit"></td>
                        <td style="width:15%" align="center" ng-bind="item.tempLimit"></td>
	                    <td style="width: 15%;" align="center" ng-bind="item.tempLimitEffectvDate"></td>
	                    <td style="width: 15%;" align="center" ng-bind="item.tempLimitExpireDate"></td>
	                    <td style="width:20%" align="center" >
	                    	<span>
					  			<a href="javascript:" ng-click="historyInfo(item)" ><span> [{{'SQH500001' | T}}] </span></a>
					  		</span>
					  		<span ng-if="item.creditNodeTyp == 'B'">
					  			<a href="javascript:" ng-click="checkElmInfo(item)" ><span> [{{'SQH300020' | T}}] </span></a>
					  		</span>
					  		<span ng-if="item.creditNodeTyp != 'B'"></span>						
						</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="allcontent" ng-show="showNodeDatail" style="margin-top:20px;">
	<div class="mainname">{{'SQH300020' | T}}：  {{creditNodeNoInfo}}</div>
		<div  jf-grid="nodeTable">
			<table>
				<thead>
					<tr>
						<th>{{'SQH300008' | T}}</th>
						<th>{{'SQH300021' | T}}</th>
	                    <th>{{'SQH300014' | T}}</th>
	                    <th>{{'SQH300016' | T}}</th>
	                    <th style="width: 15%;">{{'SQH300017' | T}}</th>
	                    <th style="width: 15%;">{{'SQH300018' | T}}</th>
	                    <th>{{'F00017' | T}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.currencyCode"></td>
					    <td align="center">
					   		<span ng-if="item.productObjectCode == '999999999'"></span>
					  		<span ng-if="item.productObjectCode != '999999999'">{{item.productObjectCode}}</span>	
					    </td>
                        <td align="center" ng-bind="item.permLimit"></td>
                        <td align="center" ng-bind="item.tempLimit"></td>
	                    <td align="center" ng-bind="item.tempLimitEffectvDate"></td>
	                    <td align="center" ng-bind="item.tempLimitExpireDate"></td>
	                    <td style="width:20%" align="center" >
	                    	<span>
					  			<a href="javascript:" ng-click="historyInfo(item)" ><span> [{{'SQH500001' | T}}] </span></a>
					  		</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>