<div ng-controller="exceptionListCtrl">
	<div class="section">
		<div class="layui-tab-content">
			<form name="mdmInfoFormM"  class="layui-form">
				<div class="col_td">
					<div class="col4 text_right">{{'F00111' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="externalIdentificationNoM" ng-model="item.externalIdentificationNo" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600002' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="cardAssociationsM" ng-model="item.cardAssociations" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600003' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="contrlReportDateM" ng-model="item.contrlReportDate" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600004' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="contrlReportTmM" ng-model="item.contrlReportTm" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600005' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="contrlDelDateM" ng-model="item.contrlDelDate" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600006' | translate}}：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone" name="contrlDescM" ng-model="item.contrlDesc" type="text" readonly>
					</div>
				</div>
				<div class=" clearboth"></div>
				<div class="mainname titleInfo">{{'SQH2600006' | translate}}</div>
				<!-- <div class="col_td">
					<div class="col4 text_right">{{'SQH2600017' | translate}}文件ID ：</div>
					<div class="wd190 float_left">
						<input class="layui-input  bnone" name="fileIdM" ng-model="item.fileId" type="text" readonly>
					</div>
				</div> -->
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600013' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone " name="cardSerialNoM" ng-model="item.cardSerialNo" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600014' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input  bnone" name="expirationDateM" ng-model="item.expirationDate" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600008' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone " name="contrlReasonM" ng-model="item.contrlReason" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600015' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input  bnone" name="vipAmountM" ng-model="item.vipAmount" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600016' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input bnone " name="currencyCodeM" ng-model="item.currencyCode" type="text" readonly>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'SQH2600011' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input  bnone" name="syncFlagM" ng-model="item.syncFlag" type="text" readonly>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>