<div ng-controller="marketingScenceDistinUpdCtrl">
	<div class="search_mian">
		<from class="layui-form">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">{{'F00077' | translate}}：</label>
					<div class="layui-input-inline">
						<select ng-model="item.operationModeUpdate" class="layui-input"
								jf-select="coArray" name="aatype" placeholder="运营模式" name="operationModeFlag"  disabled></select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">{{'SQH310002' | translate}}：</label>
					<div class="layui-input-inline">
						<input class="layui-input" type="text" ng-model="item.marketingSceneCode" readonly >
					</div>
				</div>
				<!--<div class="layui-inline">
					<label class="layui-form-label">{{'SQH310001' | translate}}：</label>
					<div class="layui-input-inline">
						<input class="layui-input" type="text" ng-model="item.authSceneCode" readonly>
					</div>
				</div>-->
			</div>
		</from>
	</div>
	<div>
	<div class="mainname titleInfo">{{'SQH310033' | translate}}</div>
	<from class="layui-form" name="formInfoUpdate">
		<!--<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'SQH310034' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="priorityUN"  ng-model="item.priority" value={{item.priority}}  type="text"  validator="required,number" minlength="1" maxlength="3" autocomplete="off">  
				</div>
			</div>-->
		<div class="col_td">
			<div class="col4 text_right">{{'F00189' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input icon_date" name="fromDataName" id="LAY_start_Update" type="text" ng-model="item.startDate" autocomplete="off"> 
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'F00190' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input icon_date" name="toDateName" id="LAY_end_Update" type="text" ng-model="item.endDate" autocomplete="off"> 
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"><span class="red">*</span>{{'SQH310029' | translate}}：</div>
			<div class="wd190 float_left">
				<select  class="layui-input"
								jf-select="listTypeArray" ng-model="transLocationU" validator="required"></select>
			</div>
		</div>
		<div class="col_td">
				<div class="col4 text_right">{{'SQH310030' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="channelCodeN"  type="text" ng-model="item.channelListCode" >
				</div>
		</div>
		<div class="col_td">
				<div class="col4 text_right">{{'SQH310031' | translate}}：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="merchantCodeN"  type="text" ng-model="item.merchantListCode" >
				</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'SQH310032' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input" name="productCodeN"  type="text" ng-model="item.productListCode">
			</div>
		</div>
		</from>
    </div>
</div>   