<div ng-controller="cstMediaListCtrl11">
	<div class="section">
		<div class="layui-tab-content">
			<div class="layui-form">
				<div class="allcontent" class="layui-form">
					<div class="col_td">
						<div class="col4 text_right">媒介单元代码 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.mediaUnitCd"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">产品单元代码 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.pdUnitCd"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">外部识别号 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.extIdNo"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">主客户代码 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.primCstCd"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">媒介对象代码 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.mediaObjCd"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">产品对象代码 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.pdObjCd"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">主附卡标识 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.primCrdID"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">附客户代码 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text"
								ng-model="item.mediaHolderNo" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">媒介对象描述 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.mediaObjDsc"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">产品对象描述 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text"
								ng-model="item.pdObjDsc" disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">使用者姓名：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text" ng-model="item.userNm"
								disabled="disabled">
						</div>
					</div>
					<div class="col_td">
						<div class="col4 text_right">状态 ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" type="text"
								ng-model="item.st" disabled="disabled">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>