<div class="section layui-form" ng-controller="layerInerDetailCtrl">
	<div class="">
		<div class="col_td">
			<div class="col4 text_right"> {{'KHH2500091' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.balanceObjectCode" name="balanceObjectCode" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">  {{'KHH2500092' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.balanceUnitCode" name="balanceUnitCode" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"> {{'KHH2500017' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInfo.billingCycleNo" name="billingCycleNo" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2500093' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.billingStartDate" name="billingStartDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2500094' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInfo.billingEndDate"  name="billingEndDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<!-- <div class="col4 text_right">发生日期 {{'F00008' | translate}}：</div> -->
			<div class="col4 text_right"> {{'KHH2500015' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.currInterestAmount" name="currInterestAmount" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"> {{'KHH2500095' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.currInterestPostFlag"  name="currInterestPostFlag" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH2500021' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInfo.interestPostBalanceObj"  name="interestPostBalanceObj" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right"> {{'KHH2500016' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.lastInterestAmount" name="lastInterestAmount" type="text" disabled="disabled">
			</div>
		</div>

		<div class="col_td">
			<div class="col4 text_right"> {{'KHH2500012' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.occurrDate"  name="occurrDate" type="text" disabled="disabled">
			</div>
		</div>
		
		
		
	</div>
	
</div>