<div class="section layui-form" ng-controller="segmenteDetailCtrl">
	<div class="">
		<div class="col_td">
			<div class="col4 text_right">起始时间 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input icon_date "  ng-model="itemInfo.startDate" name="startDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">结束时间 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input icon_date "  ng-model="itemInfo.endDate" name="endDate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">利率 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.rate" name="rate" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">天数 ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" ng-model="itemInfo.interestDays" name="interestDays" type="text" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">利息金额：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone"  ng-model="itemInfo.interest" name="interest" type="text" disabled="disabled">
			</div>
		</div>
		
		
	</div>
	
</div>