<div ng-controller="accCycleFiciDetailCtrl">
	<div class="section layui-form">
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700069' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.fullToleranceAmount"
					disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700070' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.fullPaymentFlagDesc"
					disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700071' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text"
					ng-model="item.fullPaymentDate" disabled="disabled">
			</div>
		</div>
		 <div class="col_td">
			<div class="col4 text_right">{{'KHH4700072' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.graceDate"
					disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700073' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text"
					ng-model="item.paymentDueDate" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH47000239' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text"
					ng-model="item.repaymRatio" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH47000240' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text"
					ng-model="item.dynamicInterestSettlementDate" disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700074' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.postingAmount"
					disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700075' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.debitAmount"
					disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700079' | translate}}：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.debitNum"
					disabled="disabled">
			</div>
		</div>
		<div class="col_td">
			<div class="col4 text_right">{{'KHH4700076' | translate}} ：</div>
			<div class="wd190 float_left">
				<input class="layui-input bnone" type="text" ng-model="item.creditNum"
					disabled="disabled">
			</div>
		</div>
	</div>
</div>