<div class="layout_body" ng-controller="accCycleFiciListCtrl-JY">
	<div class="subposition">
		<i class="position_icon"></i>当前位置：账户周期金融信息
	</div>
	<div class="allcontent layui-form">
		<div class="search_mian">
		
			<div class="col_td">
				<div class="col4 text_right">证件号码 ：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  id="idNumber" name="idNumber" type="text" ng-model="queryAccountForm.idNumber">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">外部识别号 ：</div>
				<div class="wd190 float_left">
					<input class="layui-input"  id="externalIdentificationNoId"  name="eventNo" type="text" ng-model="queryAccountForm.externalIdentificationNo">
				</div>
			</div>
			<div class="col_tr text_center">
				<div class="search_button">
					<button class="layui-btn" ng-click="searchAccount()" type="button">
						<i class="layui-icon">&#xe615;</i> 查询
					</button>

					<button class="layui-btn cancel-btn" type="button"
						ng-click="reset()">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>
				</div>
			</div>
			</div>
			</div>
			
			
		<div class="allcontent"  ng-show = "isShow">
		<div class="clearboth"></div>
		<div class="mainname">账户周期金融信息</div>
		<div jf-grid="accCycleFiciList">
			<table>
				<thead>
					<tr>
						<th style="width:20%">账户代码</th>
						<th>币种</th>
						<th>周期号</th>
						<th>期初宽限余额</th>
						<th>当前宽限余额</th>
						<th>宽限日前还款金额</th>
						<th>宽限日后还款金额</th>
						<th>贷方调整金额</th>
						<th>还款还原宽限日前还款</th>
						<th>还款还原宽限日后还款</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:20%" align="center" ng-bind="item.accountId"></td>
						<td align="center" ng-bind="item.currencyCode"></td>
						<td align="center" ng-bind="item.currentCycleNumber"></td>
						<td align="center" ng-bind="item.beginGraceBalance"></td>
						<td align="center" ng-bind="item.graceBalance"></td>
						<td align="center" ng-bind="item.paymentWithinGrace"></td>
						<td align="center" ng-bind="item.paymentAfterGrace"></td>
						<td align="center" ng-bind="item.creditAdjustAmount"></td>
						<td align="center" ng-bind="item.paymentRevWithinGrace"></td>
						<td align="center" ng-bind="item.paymentRevAfterGrace"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini" ng-click="checkAcbaDtlEnqr(item)" type="button">
									<i class="layui-icon"></i> 查看
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
</div>