<div ng-controller="layerEditAccInfoCtrl-JY">
	<div class="section">
		<div class="layui-tab-content">
			<div class="layui-form">
				<div class="" class="layui-form">
					<div class="col_td">
						<div class="col4 text_right">{{'KHH4200003' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input bnone" ng-model="accBscInfEdit.accountId"
								name="accountId" type="text" disabled="disabled">
						</div>
					</div>
				
					<div class="col_td">
						<div class="col4 text_right">{{'KHH4200026' | translate}} ：</div>
						<div class="wd190 float_left">
								<select ng-model="accBscInfEdit.statusCode" class="layui-input"
									jf-select="builder.option(checkStatusCodeArr)" name="actCde">
								</select>
						</div>
					</div>
					
					<div class="col_td">
						<div class="col4 text_right">{{'KHH4200032' | translate}} ：</div>
						<div class="wd190 float_left">
							<input class="layui-input" readonly
								ng-model="accBscInfEdit.absStatus"
								name="absStatus" type="text">
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>