    <div ng-controller="evLstListCtrl">
        <div class="section">
            <div class="layui-tab-content">
                <div class="layui-form">
                    <div class="allcontent" class="layui-form">
                        <div class="col_td">
                            <div class="col4 text_right">事件编号 ：</div>
                            <div class="wd190 float_left">
                                <input class="layui-input" type="text" ng-model="item.evNumb">
                            </div>
                        </div>
                        <div class="col_td">
                            <div class="col4 text_right">事件描述 ：</div>
                            <div class="wd190 float_left">
                                <input class="layui-input" type="text" ng-model="item.evDsc">
                            </div>
                        </div>
                        <div class="col_td">
                            <div class="col4 text_right">事件记账方向 ：</div>
                            <div class="wd190 float_left">
                                <input class="layui-input" type="text"
                                    ng-model="item.evBookentrDrc">
                            </div>
                        </div>
                        <div class="col_td">
                            <div class="col4 text_right">交易识别代码 ：</div>
                            <div class="wd190 float_left">
                                <input class="layui-input" type="text" ng-model="item.txnIdCd">
                            </div>
                        </div>
                        <div class="col_td">
                            <div class="col4 text_right">对应余额对象 ：</div>
                            <div class="wd190 float_left">
                                <input class="layui-input" type="text"
                                    ng-model="item.crpndBalObj">
                            </div>
                        </div>
                        <div class="col_td">
                            <div class="col4 text_right">还款类型 ：</div>
                            <div class="wd190 float_left">
                                <input class="layui-input" type="text" ng-model="item.repyTp">
                            </div>
                        </div>
                        <!-- 选择活动 -->
                        <!-- <div class="layui-inline">
                            <label class="layui-form-label">事件编号：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" type="text"
                                    ng-model="itemList.params.evNumb">
                            </div>
                        </div> -->
                        
                        
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>