<div ng-controller="appFormVisaQueryCtrl">
	<div class="subposition">
		<i class="position_icon"></i>当前位置：VISA调单申请及维护
	</div>
	<div class="allcontent">
		<div class="col_td">
			<div class="col4 text_right">证件号码 ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" name="idNumber" type="text" ng-model="appFormVisaQueryTable.params.idNumber" lay-filter="getIdType">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">外部识别号：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text" id="ecommEntryIdId" name="ecommEntryId"  ng-model="appFormVisaQueryTable.params.externalIdentificationNo" maxlength="19">
				</div>
			</div>
			<div class="col_tr text_center">
				<div class="search_button">
					<button class="layui-btn" ng-click="queryitemList()" type="button">
						<i class="layui-icon">&#xe615;</i> 查询
					</button>

					<button class="layui-btn cancel-btn" type="button"
						ng-click="refact()">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>
				</div>
			</div>
		<div ng-show="isShow">
		<div jf-grid="appFormVisaQueryTable">
			<table>
				<thead>
					<tr>
						<th>客户号</th>
						<th>交易代码</th>
						<th>外部识别号</th>
						<th>收单参考编号</th>
						<th>收单业务编号</th>
						<th>购买日期</th>
						<th>交易金额</th>
						<th>交易货币代码</th>
						<th style="width:20%;">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.customerNo"></td>
						<td align="center" ng-bind="item.transactionCode"></td>
						<td align="center" ng-bind="item.externalIdentificationNo"></td>
						<td align="center" ng-bind="item.acquireReferenceNumbr"></td>
						<td align="center" ng-bind="item.acquirerBusinessId"></td>
						<td align="center" ng-bind="item.gmtDate"></td>
						<td align="center" ng-bind="item.transAmt"></td>
						<td align="center" ng-bind="item.transCurrCode"></td>
						<td align="center">
							<button class="layui-btn layui-btn-mini"
								ng-click="viewAppFormInf(item)">
								<i class="layui-icon"></i> 查询
							</button>
							<button class="layui-btn layui-btn-mini"
								ng-click="updateAppFormInf(item)">
								<i class="layui-icon"></i> 维护
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>