<div ng-controller="setEventCtrl">
	<div class=" ">
			<div class="clearboth"></div>
			<div style="margin-bottom: 15px;margin-left: 5%;">
				<div class="layui-inline">
					<label class="layui-form-label">{{'PZH100001' | translate}}：</label>
					<div class="wd190 float_left">
						<input class="layui-input"  type="text" name="eventIdN"  ng-model="eventNoquery" >
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">{{'PZH100002' | translate}}：</label>
					<div class="wd190 float_left">
						<input class="layui-input"  type="text" name="eventDescN"  ng-model="eventDescquery">
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 5%;">
					<div class="search_button">
						<button class="layui-btn" ng-click="queryEventList()">
							<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
						</button>
					</div>
				</div>
			</div>
			<div class="modalmain">
				<div class="row">
					<div class="colFive">
						<h7>{{'YWH5500144' | translate}}</h7>
					</div>
					<div class="colSix">
						<h7>{{'YWH5500145' | translate}}</h7>
					</div>
					<div class="clearboth"></div>
				</div>
				<div class="row">
					<div class="colOne">
						<select name="s53" size="10" multiple="multiple" id="s53" class="form_selectgro">
							
						</select>
					</div>
					<div class="colTwo4 text-center">
						<button type="button" class="layui-btn mb15" name="add" id="add53" value="">
							{{'F00036' | translate}} <i class="layui-icon">&#xe602;</i>
						</button>
						<br />
						<!-- <button type="button" class="layui-btn mb15" name="addall" id="addall53" value="">
							{{'F00120' | translate}} <i class="layui-icon">&#xe65b;</i>
						</button>
						<br /> -->
						<button type="button" name="remove" id="remove53" class="layui-btn mb15">
							<i class="layui-icon">&#xe603;</i> {{'F00122' | translate}}
						</button>
						<br />
						<!-- <button type="button" name="removeall" id="removeall53" value="" class="layui-btn mb15">
							<i class="layui-icon">&#xe65a;</i> {{'F00123' | translate}}
						</button> -->
						<!-- <button type="button" name="paymentPriorityN" id="paymentPriorityCurry" class="layui-btn mb15">
							{{'YYH900025' | translate}}
						</button> -->
					</div>
					<div class="colThree">
						<select name="s54" size="10" multiple="multiple" id="s54" class="form_selectgro">
						</select>
					</div>
					<div class="clearboth"></div>
				</div>
			</div>
	</div>
</div>