<div class="layout_body" ng-controller="specialSitEventCtrl">
	<div class="subposition">
		<i class="position_icon"></i>{{'F00008' | translate}}：{{menuName}}
	</div>
	<div class="section">
		<div class="allcontent layui-form">
			<div class="col_td">
				<div class="col4 text_right">{{'PZH100070' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text"
						ng-model="itemList.params.eventId" maxlength="14">
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'PZH100071' | translate}} ：</div>
				<div class="wd190 float_left">
					<input class="layui-input" type="text"
						ng-model="itemList.params.eventDesc" maxlength="50">
				</div>
			</div>
			<div class="col_tr text_center">
				<button class="layui-btn" ng-click="itemList.search()"
					ng-show="selBtnFlag">
					<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
				</button>
				<button class="layui-btn cancel-btn" type="button"
					ng-show="addBtnFlag" ng-click="addList()">
					<i class="layui-icon">&#xe654;</i> {{'F00010' | translate}}
				</button>
				<!-- <button class="layui-btn cancel-btn" type="button"
			ng-click="itemList.params={}">
			<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
		</button> -->
			</div>
			<div jf-grid="itemList">
				<table>
					<thead>
						<tr>
							<th>{{'PZH100070' | translate}}</th>
							<th>{{'PZH100071' | translate}}</th>
							<th>{{'PZH400034' | translate}}</th>
							<th>{{'PZH400036' | translate}}</th>
							<th>{{'PZH400038' | translate}}</th>
							<th>{{'F00017' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center" ng-bind="item.eventNo"></td>
							<td align="center" ng-bind="item.eventDesc"></td>
							<td align="center" ng-bind="item.effectivenessCodeType"></td>
							<td align="center">
								<div class="tdDivL">{{item.effectivenessCodeScene}}&nbsp;</div>
								<div class="tdDivR">{{item.effectivenessCodeDesc}}</div>
							</td>
							<td align="center" ng-bind="item.sceneTriggerObjectDesc"></td>
							<td align="center">
								<button class="layui-btn layui-btn-mini"
									ng-click="checkEvDtlInf(item)" ng-show="selBtnFlag">
									<i class="layui-icon">&#xe60b;</i> {{'F00009' | translate}}
								</button>
								<button class="layui-btn layui-btn-mini"
									ng-click="updateEvDtlInf(item)" ng-show="updBtnFlag">
									<i class="layui-icon">&#xe642;</i> {{'F00015' | translate}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>