<div ng-controller="viewFundAgreementCtrl">
	<div>
		<form name="balanceObjForm" class="layui-form">
			<!--机构名 <div class="col_td">
				<div class="col4 text_right">
					<span class="red">*</span>{{'FQH800055' | translate}} ：
				</div>
				<div class="wd330 float_left">
					<select ng-model="orgNum" jf-select="institutionIdArr" name=orgNum	 maxlength="10"
					 validator="required,maxlength" disabled>
					</select>
				</div>
			</div> -->
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'YYH300001' | translate}} ：</div>
				<div class="wd330 float_left">
					<select class="layui-input step1S" ng-model="operationMode" id="operationModeId" jf-select="operationModeArr" name="operationModeN" disabled lay-filter="getoperationMods">
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800001' | translate}}：</div>
				<div class="wd330 float_left">
					<input class="layui-input" ng-model="detailsList.trustNum"
					 type="text" validator="required"  name="trustNum" disabled>
				</div>
			</div>
			<!--下拉多选框额度节点 <div class="">
				<div class="col4 text_right" style="width: 20%;">{{'FQH800041' | translate}} ：</div>
				<div class="wd330 float_left" >
					 <select name="city" id="selectId" xm-select="selectId" disabled>
	                	<option  value="1">请选择</option>
	               	</select>
				</div>
			</div> -->
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800002' | translate}}：</div>
				<div class="wd330 float_left">
					<input class="layui-input " ng-model="detailsList.trustName"
						 name="trustName" type="text" validator="required" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800003' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="trustType"   jf-select="fundAgreementArray" 
						validator="required" lay-filter="trustType"  name="trustType" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800007' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="fundsType"   jf-select="capitalContributionArray" 
						validator="required" lay-filter="fundsType"  name="fundsType" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800004' | translate}}：</div>
				<div class="wd330 float_left">
					<input class="layui-input" ng-model="detailsList.loanAmt"
						 type="text" validator="required"  name="loanAmt" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800011' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="isMulitTrust"   jf-select="isMultitrustArray" 
						validator="required" lay-filter="isMultitrust"  name="isMulitTrust" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right"><span class="red">*</span>{{'FQH800030' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="accountCcy"
							class="layui-input"
							jf-select="accountCcyArray"
							validator="required" name="accountCcy" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'FQH800012' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="cooperatModel"   jf-select="cooperatModelArray" 
					  lay-filter="legalIdType"  name="legalIdType" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'FQH800074' | translate}}：</div>
				<div class="wd330 float_left">
				<input class="layui-input" name="busRestQuota"  ng-model="detailsList.busRestQuota" 
					 type="text" autocomplete="off"  disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'FQH800008' | translate}}：</div>
				<div class="wd330 float_left">
				<input class="layui-input icon_date" ng-model="detailsList.effectiveDate"  name="effectiveDate"  
				    jf-date-input type="text" autocomplete="off" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'FQH800013' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="clearMode"   jf-select="liquidationModeArray" 
						lay-filter="clearMode"  name="clearMode" disabled>
					</select>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'FQH800009' | translate}}：</div>
				<div class="wd330 float_left">
				<input class="layui-input icon_date" name="expireDate"  ng-model="detailsList.expireDate" 
					jf-date-input type="text" autocomplete="off" disabled>
				</div>
			</div>
			<div class="col_td">
				<div class="col4 text_right">{{'FQH800006' | translate}}：</div>
				<div class="wd330 float_left">
					<select ng-model="isAutoTrun"   jf-select="isAutoTranArray" 
						 lay-filter="legalIdType"  name="isAutoTrun" disabled>
					</select>
				</div>
			</div>
		</form>
		<div>
			<div class="clearboth"></div>
			<div class="col_tr text_center" > 
				<div class="mainname" style="width:50%;text-align: left;display: inline-block;float: left;">{{'FQH800014' | translate}}</div>
			</div>
			<div style="margin-bottom:40px">
				<table style="width:100%">
					<thead>
						<tr style="background-color: #DCDCDC;">
							<th style="width:5%;" align="center">{{'FQH800040' | translate}}</th>
							<th style="width:10%;" align="center">{{'FQH800018' | translate}}</th>
							<th style="width:10%;" align="center">{{'FQH800019' | translate}}</th>
		                    <th style="width:10%"  align="center">{{'FQH800015' | translate}}</th>
		                    <th style="width:10%"  align="center" >{{'FQH800020' | translate}}</th>
		                    <th style="width:10%"  align="center">{{'FQH800076' | translate}}</th>
		                    <th style="width:10%"  align="center">{{'FQH800077' | translate}}</th>
		                    <th style="width:10%;" align="center">{{'FQH800016' | translate}}</th>
		                    <!-- <th style="width:10%;" align="center">{{'FQH800017' | translate}}</th> -->
		                    <th style="width:10%;" align="center">{{'FQH800021' | translate}}</th>
		               </tr>
					</thead>
					<tbody>
						<tr ng-repeat = "list in isListA track by $index">
							<td style="width:5%;">
		                         <label class="i-checks m-b-none">
		                             <input name="fruit" type="radio"  ng-value="list.corporationEntityNo"  ng-model="selectedMonth" ng-click ="selectOne(list,$index)"><i></i>
		                         </label>
	                     	</td>
							<td style="width:10%;" align="center" ng-bind="list.corporationEntityNo"></td>
		                    <td style="width:10%;" align="center" ng-bind="list.corporationEntityName"></td>
		                    <td style="width:10%;" align="center" ng-bind="list.ratio"></td>
		                    <td style="width:10%;" align="center">
		                    	<span ng-if="list.dividendRule==0">{{'FQH800078' | translate}}</span>
		                    	<span ng-if="list.dividendRule==1">{{'FQH800079' | translate}}</span>
		                    	<span ng-if="list.dividendRule==2">{{'FQH800080' | translate}}</span>
		                    </td>
		                    <td style="width:10%;" align="center" ng-bind="list.profitMargin"></td>
		                   	<td style="width:10%;" align="center" ng-bind="list.interestDividendRatio"></td>
		                    <td style="width:10%;" align="center" ng-bind="list.amount"></td>
		                   	<!-- <td style="width:10%;" align="center"> 
		                      	<span ng-if="list.isBankFunds=='1'">{{'FQH800046' | translate}}</span>
								<span ng-if="list.isBankFunds=='0'">{{'FQH800047' | translate}}</span>
		                     </td> -->
		                    <td style="width:10%;" align="center" >
		                    	<span ng-if="list.restInd=='1'">{{'FQH800046' | translate}}</span>
								<span ng-if="list.restInd=='0'">{{'FQH800047' | translate}}</span>
		                   </td>
		                </tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
		<div class="clearboth"></div>
		<div class="col_tr text_center" > 
			<div class="mainname" style="width:50%;text-align: left;display: inline-block;float: left;">{{'FQH800025' | translate}}</div>
		</div>
			<div style="margin-bottom:40px">
				<table style="width:100%">
					<thead>
						<tr style="background-color: #DCDCDC;">
							<th style="width:15%;" align="center">{{'FQH800018' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800026' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800027' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800028' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800029' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800030' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800031' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800032' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800033' | translate}}</th>
							<!-- <th style="width:8%;" align="center">{{'FQH800034' | translate}}</th>
							<th style="width:8%;" align="center">{{'FQH800035' | translate}}</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "item in coreTrustAccountList">
							<td style="width:10%;" align="center" ng-bind="item.corporationEntityNo"></td>
							<td style="width:8%;" align="center" ng-bind="item.accountName"></td>
							<td style="width:10%;" align="center" ng-bind="item.bankName"></td>
							<td style="width:8%;" align="center" ng-bind="item.bankNo"></td>
							<td style="width:8%;" align="center">
							 	<span ng-if="item.cashOrRemit=='0'">{{'FQH800053' | translate}}</span>
								<span ng-if="item.cashOrRemit=='1'">{{'FQH800054' | translate}}</span>
							</td>
							<td style="width:8%;" align="center">
								<span ng-bind="item.accountCcy"></span>
								<span ng-bind="item.currencyDesc"></span>
							</td>
							<td style="width:8%;" align="center" ng-bind="item.accountNo"></td>
							<td style="width:8%;" align="center">
								<span ng-if="item.accountType=='0'">{{'FQH800049' | translate}}</span>
								<span ng-if="item.accountType=='1'">{{'FQH800050' | translate}}</span>
								<span ng-if="item.accountType=='2'">{{'FQH800051' | translate}}</span>
								<span ng-if="item.accountType=='3'">{{'FQH800052' | translate}}</span>
							</td>
							<td style="width:15%;" align="center">
								<span ng-if="item.accountInd=='0'">{{'FQH800056' | translate}}</span>
								<span ng-if="item.accountInd=='1'">{{'FQH800057' | translate}}</span>
								<span ng-if="item.accountInd=='2'">{{'FQH800058' | translate}}</span>
								<span ng-if="item.accountInd=='3'">{{'FQH800059' | translate}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- 资金方账号信息 -->
		<!-- 已关联产品 -->
		<div class="clearboth"></div>
		<div class="mainname">{{'FQH800095' | translate}}</div>
		<div jf-grid="viewQuotaNodeTable"><!--  -->
			<table border="0" cellspacing="0" cellpadding="0" 
			class="layui-table dataTable no-footer" lay-even="" lay-skin="nob">
				<thead>
					<tr>
						<th>{{'FQH800085' | translate}}</th>
						<th>{{'FQH800086' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center" ng-bind="item.productObjectCode"></td>
						<td align="center" ng-bind="item.productDesc"></td>
					</tr>
				</tbody>
			</table>
		</div><!-- 已关联产品end -->
		<!-- 产品 关联额度节点-->
		<div ng-if="showDiv">
			<div class="mainname">{{'FQH800096' | translate}}</div>
			<div>
				<table border="0" cellspacing="0" cellpadding="0" 
				class="layui-table dataTable no-footer" lay-even="" lay-skin="nob">
					<thead>
						<tr>
							<th>{{'FQH800094' | translate}}</th>
							<th>{{'FQH800091' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in itemsList track by $index">
							<td align="center" ng-bind="item.code"></td>
							<td align="center" ng-bind="item.desc"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>
