<div ng-controller="queryAutoMatcheCtrl">
	<div class="section">
		<div class="mainname">{{'KHH3200150' | translate}}</div> 
	
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">{{'KHH3200151' | translate}}：</label>
				<div class="layui-input-inline">
					 <input class="layui-input" ng-model="queryAutoMatcheInf.cardBin" 
					 name="cardBin" type="text" />
				</div>
			</div>
			
			<div class="layui-inline">
				<label class="layui-form-label">{{'KHH3200152' | translate}}：</label>
				<div class="layui-input-inline">
					 <input class="layui-input" ng-model="segmentNumberList.params.segmentNumber" name="segmentNumberN" 
					 type="text" maxlength="3" validator="maxlength">
				</div>
			</div>
			
			
			<div class="col_tr text_center">
				<div class="layui-inline">
					<button class="layui-btn" ng-click="segmentNumberList.search()">
						<i class="layui-icon">&#xe615;</i> {{'F00009' | translate}}
					</button>
					<button class="layui-btn cancel-btn" type="button"
						ng-click="resetSegmentNum()">
						<i class="layui-icon">&#x1002;</i> {{'F00018' | translate}}
					</button>
				</div>
			</div>
		</div>
	
		<div jf-grid="segmentNumberList">
              <table>
                  <thead>
                      <tr>
                          <th>{{'KHH3200152' | translate}}</th>
                          <th>{{'F00017' | translate}}</th>
                      </tr>
                  </thead>
                  <tbody>
                  	<tr>
                       <td align="center" ng-bind="item.segmentNumber"></td>
                       <td align="center" >
                       		<button class="layui-btn layui-btn-mini" ng-click="checkCardNumInf(item)"
								type="button" >
								<i class="layui-icon"></i> {{'KHH3200153' | translate}}
							</button>
                       
                       
                       </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          
          
        <div class="clearboth"></div>
        
        <div ng-show= 'isShowCardNumDiv'>
        	<div class="mainname">{{'KHH3200154' | translate}}</div> 
			<div jf-grid="cardNumberList">
	             <table>
	                 <thead>
	                     <tr>
	                         <th>{{'KHH3200155' | translate}}</th>
	                     </tr>
	                 </thead>
	                 <tbody>
	                 	<tr>
	                      <td align="center" ng-bind="item.cardNumberStr"></td>
	                     </tr>
	                 </tbody>
	             </table>
	         </div>
        
        </div>
		
	</div>
</div>