<div class="layui-form" ng-controller="cstContactViewCtrl">
        <div  class="layui-form">
				<div class="col_td">
					<div class="col4 text_right">{{'KHH6300004' | translate}} ：</div>
					<div class="wd190 float_left">
                        <input class="layui-input" type="text" name="contactCategoryDesc" ng-model="contactItem.contactCategoryDesc" disabled>
                    </div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH6300005' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input" type="text" name="name" ng-model="contactItem.name" disabled>
					</div>
				</div>
				<div class="col_td">
					<div class="col4 text_right">{{'KHH6300006' | translate}} ：</div>
					<div class="wd190 float_left">
						<input class="layui-input" type="text" name="relation" ng-model="contactItem.relation" disabled>
					</div>
				</div>
                <div class="col_td">
                    <div class="col4 text_right">{{'KHH6300007' | translate}} ：</div>
                    <div class="wd190 float_left">
                        <input class="layui-input" type="text" name="handphone" ng-model="contactItem.handphone" disabled>
                    </div>
                </div>
                <div class="col_td">
                    <div class="col4 text_right">{{'KHH6300008' | translate}} ：</div>
                    <div class="wd190 float_left">
                        <input class="layui-input" type="text" name="telephoneCountry" ng-model="contactItem.telephoneCountry" disabled>
                    </div>
                </div>
                <div class="col_td">
                    <div class="col4 text_right">{{'KHH6300009' | translate}} ：</div>
                    <div class="wd190 float_left">
                        <input class="layui-input" type="text" name="telephoneZone" ng-model="contactItem.telephoneZone" disabled>
                    </div>
                </div>
                <div class="col_td">
                    <div class="col4 text_right">{{'KHH6300010' | translate}} ：</div>
                    <div class="wd190 float_left">
                        <input class="layui-input" type="text" name="telephoneNo" ng-model="contactItem.telephoneNo" disabled>
                    </div>
                </div>
                <div class="col_td">
                    <div class="col4 text_right">{{'KHH6300011' | translate}} ：</div>
                    <div class="wd190 float_left">
                        <input class="layui-input" type="text" name="telephoneNoExt" ng-model="contactItem.telephoneNoExt" disabled>
                    </div>
                </div>
                <div class="col_td">
                    <div class="col4 text_right">{{'KHH6300012' | translate}} ：</div>
                    <div class="wd190 float_left">
                        <input class="layui-input" type="text" name="validFlagDesc" ng-model="contactItem.validFlagDesc" disabled>
                    </div>
                </div>
        </div>
</div>
