<div class="float_leftmenu">
            
	        <dl id="float_content">
                <dd>
        	        <span>草稿箱<br/><font class="number_color">26</font></span>
        	        <div class="float_leftmenucontent">
                        <div class="subtitle" style="padding-top:10px;">草稿箱</div>
                        <table class="layui-table" lay-even lay-skin="row">
                           <thead>
                              <tr> 
                                 <th align="center">类型 </th>
                                 <th align="center">币种 </th>
                                 <th align="center">原币金额</th>
                                 <th align="center">资金流向</th>
                                 <th align="center">账号</th>
                                 <th align="center">币种</th>
                                 <th align="center" >金额</th>
                              </tr>
                           </thead>
                           <tbody>
                             <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center"></td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center"></td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center"></td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center"></td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center"></td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                             <tbody>
                          </table>
                    </div>
                </dd>
                <dd>
        	        <span>待处理<br/><font class="number_color">188</font></span>
                    <div class="float_leftmenucontent1">
                    
                          <div class="subtitle" style="padding-top:10px;">待处理</div>
                          <table  class="layui-table" lay-even lay-skin="row">
                            <thead>
                               <tr> 
                                 <th align="center">类型 </th>
                                 <th align="center">币种 </th>
                                 <th align="center">原币金额</th>
                                 <th align="center">资金流向</th>
                                 <th align="center">币种</th>
                                 <th align="center" >金额</th>
                              </tr>
                            </thead>
                            <tbody>
                             <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">国内</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">国内</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">国内</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">国内</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">国内</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </dd>
                
                <dd>
                    <span>待复核<br/><font class="number_color">0</font></span>
                    <div class="float_leftmenucontent2">
                          <div class="subtitle" style="padding-top:10px;">待复核</div>
                          <table  class="layui-table" lay-even lay-skin="row">
                             <thead>
                               <tr> 
                                 <th align="center">类型 </th>
                                 <th align="center">币种 </th>
                                 <th align="center">原币金额</th>
                                 <th align="center">账号</th>
                                 <th align="center">币种</th>
                                 <th align="center" >金额</th>
                              </tr>
                           </thead>
                           <tbody>
                             <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                              <tr>
                                 <td align="center">手续费</td>
                                 <td align="center">人民币 </td>
                                 <td align="center">8,000.00</td>
                                 <td align="center">9873181</td>
                                 <td align="center">人民币</td>
                                 <td align="center">9,000.00</td>
                              </tr>
                            </tbody>  
                          </table>
                    </div>
                </dd>
                
                <!-- <dd ng-controller="shortMenuCtrl"> -->
                <dd>  
                    <span>快捷菜单</span> 
                    <div class="float_leftmenucontent3" >  
                        <div class="collection_add" ng-click="clickAddMenu()">
                              <div class="collection_pic"><img ng-src="{{global.imgPath + '/blue/collection12.png'}}"></div>
                              <div class="collection_text"> 添加快捷菜单</div>
                        </div>
                        
                        
                        <div ng-repeat="menu in quickMenuList">
	                        <div class="collection" ng-click="openMenu(menu)">
	                              <div class="collection_pic"><i class="{{menu.icon}}"></i>
	                              <div class="collection_text">{{menu.menuName}}</div>
	                         </div>
                         </div>
                    </div><!--float_leftmenucontent3_end-->
                </dd>
                
                <dd>
        	        <span>关注业务</span>
                    <div class="float_leftmenucontent4">
            
                         <div class="follow">
                              <div class="follow_messges">
                                   <p>业务编号</p>
                                   <p><strong>YWBH000009823131</strong></p>
                              </div>
                              <div class="follow_button"><button class="layui-btn layui-btn-mini">取消关注</button></div>
                         </div>
                         <div class="follow">
                              <div class="follow_messges">
                                   <p>业务编号</p>
                                   <p><strong>YWBH000009823131</strong></p>
                              </div>
                              <div class="follow_button"><button class="layui-btn layui-btn-mini">取消关注</button></div>
                         </div>
                         <div class="follow">
                              <div class="follow_messges">
                                   <p>业务编号</p>
                                   <p><strong>YWBH000009823131</strong></p>
                              </div>
                              <div class="follow_button"><button class="layui-btn layui-btn-mini">取消关注</button></div>
                         </div>
                         <div class="follow">
                              <div class="follow_messges">
                                   <p>业务编号</p>
                                   <p><strong>YWBH000009823131</strong></p>
                              </div>
                              <div class="follow_button"><button class="layui-btn layui-btn-mini">取消关注</button></div>
                         </div>
                         <div class="follow">
                              <div class="follow_messges">
                                   <p>业务编号</p>
                                   <p><strong>YWBH000009823131</strong></p>
                              </div>
                              <div class="follow_button"><button class="layui-btn layui-btn-mini">取消关注</button></div>
                         </div>
                         <div class="follow">
                              <div class="follow_messges">
                                   <p>业务编号</p>
                                   <p><strong>YWBH000009823131</strong></p>
                              </div>
                              <div class="follow_button"><button class="layui-btn layui-btn-mini">取消关注</button></div>
                         </div>
                 
                    </div><!--float_leftmenucontent4_end-->
                </dd>
            </dl>
            <div class="float_leftmenu_colse" id="float_close" onclick="document.getElementById('float_close').style.display='none';document.getElementById('float_content').style.display='none';document.getElementById('float_open').style.display='';"><img ng-src="{{global.imgPath + '/blue/float_icon_close.png'}}"></div>
            <div class="float_leftmenu_open" id="float_open" style="display:none;" onclick="document.getElementById('float_close').style.display='';document.getElementById('float_content').style.display='';document.getElementById('float_open').style.display='none';"><img ng-src="{{global.imgPath + '/blue/float_icon_add.png'}}"></div>
        </div>
        
        <div id="shortMenuDiv" url="/template/quick_menu.html" style="display: none;" callback="roleChange()"></div>